@font-face {
    font-family: 'MyCustomFont';
    src: url('font/canela-text-trial/Canela-Black-Trial.otf') format('opentype');
}

#header {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2% 0 0 42%;
    font-family: 'MyCustomFont', sans-serif;
    z-index: 9999999;
}

#info {
    position: absolute;
    top: 0.5em;
    right:1em;
    width: auto;
    height: 37px;
    z-index: 9999;
}

#info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#info ul li {
    font-size: 13px;
    margin-right: 10px;
}
#banner header {
    width: 100%;
}
#banner h3 {
    color: #fafafa;
}
#banner form {
    margin: 0 auto;
    padding: 2em 0 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#banner input {
    width: 89%;
}
#banner button {
    background: transparent;
}
/* paging_btn */
.paging_btn {
    display: block;
    width: 100%;
    margin-top: 3%;
}
.paging_btn ul {
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.paging_btn ul li {
    /*margin-right: 1%;*/
    list-style-type: none;
}
/* footer */
.contact {
    margin: 0 auto;
}
.contact button {
    border-radius: 50px;
    font-size: 30px;
    background: rgba(229, 229, 229, 0.3);
}
.contact button:hover {
    background: rgb(229, 229, 229);
    color: #3B353C;
}

/* 메인 페이지 */
#header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#movie_title {
    padding: 0.5em;
    border-radius: 0.5em;
}
#movie_title:hover {
    background-color: #FAFAFA0A; /* 마우스 호버 시 배경색 변경 */
    text-decoration: none;
}
a#movie_title:not(:hover) {
    background: none; /* 마우스가 요소를 벗어났을 때 배경색 투명하게 변경 */
}
#main_hr {
    opacity: 0;
}
#img_btn {
    position: absolute;
    top: 40%;
    right: 1%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}
#img_btn .btn {
    color: #fff;
    background: none;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
    font-family: 'MyCustomFont', sans-serif;
}
#img_btn .clicked {
    color: #df7366;
    font-size: 2em;
}
.carousel .section_title {
    display: flex;
    justify-content: space-between;
    padding: 0 8em 2em 8em;
}
.carousel article {
    position: relative; /* <article> 요소에 상대 위치 지정 */
    display: inline-block; /* 요소들이 인라인으로 나타나도록 설정 */
}
.carousel .overlay-img {
    width: 5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* 겹쳐진 이미지가 위에 표시되도록 설정 */
    margin-left: -5%;
    margin-top: -5%;
}
.carousel .ten {
    width: 5em;
    margin-top: 9em;
    margin-left: 1em;
}
.carousel header > p {
    font-size: 1em;
    margin-bottom: 0;
}
.carousel header > p > img {
    width: 1em;
}
.carousel .button_box {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em 0;
    z-index: 99999;
}
.carousel .button_box .reservation_btn {
    background: #df7366;
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1.4em 0.5em 1.4em;
}
.carousel .button_box .get_btn {
    font-size: 1em;
    background: #555555;
    z-index: 99999;
    padding: 0.5em 1.4em 0.5em 1.4em;
}
.comming_list .button_box {
    justify-content: center;
}
#features article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#features header > p {
    font-size: 1.2em;
    margin-bottom: 1em;
}
#features .more_btn {
    text-align: right;
}

/* 상세 페이지 */
/*.wrapper .container #main img {*/
/*    width: 100%*/
/*}*/
#get_info {
    display: flex;
    justify-content: flex-start;
}
#get_info .info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#get_info .info_header h2 {
    margin-right: auto; /* 제목을 왼쪽으로 정렬 */
}

#get_info .info_header .button {
    margin-left: 1em; /* 버튼 사이의 여백 */
}

#get_info .movie_info {
    margin-left: 5%;
    vertical-align: center;
}
#get_info .movie_info div > span {
    border-right: 1px solid #000;
    padding: 0 10px;
}
#get_info .movie_info div > span.genres {
    border-right: none;
    padding: 0 5px;
}
.last-genre {
    border-right: 1px solid #000 !important;
    padding: 0 10px 0 5px !important;
}
#get_info .movie_info span:nth-child(1) {
    padding-left: 0;
}
#get_info .movie_info span:last-child {
    padding: 0;
    border-right: none;
}
#get_info .movie_info img {
    vertical-align: middle;
    margin-left: 10px;
    width: 3%;
}
.certification-container {
    display: flex;
    align-items: center;
}
.certification-container img {
    max-height: 100%;
    margin-right: 10px; /* 간격 조절 */
}
.certification-container span {
    line-height: 1.5em; /* 높이 맞추기 */
}
#get_info .movie_data_box {
    margin: 5% 0 2% 0;
    display: flex;
    justify-content: space-between;
}
#get_info .movie_data {
    margin-right: 5%;
}
.indicator-line {
    height: 4px;
    background-color: #333;
    width: 30%;
    transition: transform 0.1s ease-out;
}
.movie_etc {
    margin-top: 5%;
    margin-bottom: 0;
    width: 100%;
}
.movie_etc div.etc_btn {
    display: flex;
    flex-direction: row;
}
.movie_etc button {
    width: 50%;
    height: 5%;
    font-size: 1em;
    border-radius: 0;
    background: #fafafa;
    color: #3B353C;
}
.movie_etc button:hover {
    width: 50%;
    height: 5%;
    font-size: 1em;
    border-radius: 0;
    background: #e5e5e5;
    color: #3B353C;
}
.movie_etc button.clicked {
    background: #e5e5e5;
    color: #3B353C;
}
#reviews .row {
    margin: 0;
}
#reviews table {
    margin-top: 2%;
    width: 100%;
}
#reviews table td p {
    text-align: left;
}
#reviews .modal_open {
    margin-top: 2%;
    width: 100%;
    font-size: 1em;
    border-radius: 0;
    background: #483949;
    color: #fff;
}
/* 리뷰 모달 */
#review_modal {
    margin: 0 auto;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#review_modal h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}
#review_modal h3 {
    text-align: center;
}
#review_modal .form-group {
    margin: 3% 0;
}
.star-rating {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 50%;
}
.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 1.2em;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
}
.star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
}
#review_modal textarea {
    margin-top: -1em;
}
#review_modal .button_box {
    display: flex;
    justify-content: space-between;
}
#review_modal button {
    width: 48%;
    font-size: 1em;
}
#review_modal button:nth-child(1) {
    background: #dddddd;
    color: #3B353C;
}
#review_modal button:first-child:hover {
    background: #e5e5e5;
}
#stillcut {
    padding-top: 2%;
}
#stillcut h3 {
    padding-bottom: 2%;
    font-size: 40px;
}
#stillcut p, #reviews > #showMore_review, #reviews > #showLess_review {
    text-align: center;
 }

/* 현재 상영작 페이지*/
.list {
    padding: 4em 0 6em 0;
    height: auto;
    width: 100%;
}
.list hr {
    top:0;
    margin-bottom: 4em;
}
.list p {
    text-align: center;
}
/* 스낵 상세 페이지 */
#snack_get_section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#snack_get_section .image {
    width: 95%;
}
#snack_get_section .snack_get_img {
    width: 70%;
    margin: 0 auto;
}
#snack_get_section table {
    width: 100%;
    height: auto;
}
#td_count {
    padding: 1em 0;
}
.count_box {
    position: relative; /* 부모 요소를 상대 위치로 설정 */
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #e5e5e5;
    border-radius: 15px;
}
.count_box button {
    background: #c4c3caB3;
    font-size: 30px;
}
.count_box button:hover {
    background: #c4c3ca80;
}
#discount:disabled {
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
}
#discount:hover {
    background-color: #c4c3ca80;
}
.count_box p {
    position: absolute; /* 자식 요소를 절대 위치로 설정 */
    top: 50%; /* 부모 요소의 세로 중앙에 위치시키기 위해 50% 설정 */
    left: 50%; /* 부모 요소의 가로 중앙에 위치시키기 위해 50% 설정 */
    transform: translate(-50%, -50%); /* 요소를 세로와 가로로 모두 중앙에 위치 */
    margin: 0; /* 기본 마진 제거 */
}
#total_price {
    font-size: 30px;
    font-weight: 900;
}
#tr_purchase {
    width: 100%;
}
#tr_purchase td {
    padding: 3em 0 1em 0;
}
#tr_purchase td:first-child {
    padding: 1em 1em 1em 0;
}
#tr_purchase button {
    font-size: 20px;
    width: 100%;
    border: 5px solid #df7366;
    color: #3B353C;
}
#tr_purchase button.cart{
    font-size: 20px;
    width: 100%;
    background: #fafafa;
    border: 5px solid rgba(223, 115, 102, 0.3);
    color: #3B353C;
}
/* notice_list*/
.notice_list table.default tr th{
    text-align: center;
}
.notice_list table th:nth-child(1) {
    width: 10%;
}
.notice_list table th:nth-child(2) {
    width: 70%;
}
.notice_list table th:nth-child(3) {
    width: 10%;
}
.notice_list table th:nth-child(4) {
    width: 10%;
}
.notice_list table td{
    text-align: center;
}
.notice_list table td:nth-child(1) {
    width: 10%;
}
.notice_list table td:nth-child(2) {
    width: 70%;
}
.notice_list table td:nth-child(3) {
    width: 10%;
}
.notice_list table td:nth-child(4) {
    width: 10%;
}
/* notice_get */
.container {
    position: relative;
}
.notice_get table {
    margin: 4em 0 2em;
}
.notice_get table tr td:first-child{
    text-align: center;
    width: 30%;
}
.notice_get button {
    margin: 0 auto;
    display: block; /* 버튼을 블록 요소로 설정 */
    width: 18%;
    font-size: 20px;
}
/* cart_list */
.cart_list {
    display: flex;
    justify-content: space-between;
}
.cart_list header {
    display: flex;
    justify-content: space-between;
}
.cart_list header > p {
    font-size: 20px;
}
.cart_list #main {
    width: 70%;
}
#cart_list_section table tr th,
#cart_list_section table tr td {
    text-align: center;
    vertical-align: middle;
}
td p {
    display: block; /* 블록 요소로 유지 */
    margin: 0 auto; /* 가로 중앙 정렬 */
    text-align: center; /* 텍스트 내용을 중앙 정렬 */
}
#cart_list_section table tr th:nth-child(1) {
    width: 20%;
}
#cart_list_section table tr th:nth-child(2) {
    width: 35%;
}
#cart_list_section table tr th:nth-child(3) {
    width: 10%;
}
#cart_list_section table tr th:nth-child(4) {
    width: 20%;
}
#cart_list_section table tr th:nth-child(5) {
    width: 10%;
}
#cart_list_section table tr td:nth-child(1) img {
    width: 100%;
}
#cart_list_section table tr td:nth-child(2) {
    width: 25%;
}
#cart_list_section table tr td:nth-child(3) {
    width: 20%;
}
#cart_list_section table tr td:nth-child(3) div {
    width: 100%;
}
#cart_list_section table tr td:nth-child(3) div button:first-child {
    padding: 0.3em 0.8em 0.3em 0.8em;
}
#cart_list_section table tr td:nth-child(3) div button {
    padding: 0.3em 0.65em 0.3em 0.65em;
}
#cart_list_section table tr td:nth-child(4) {
    width: 20%;
}
#cart_list_section table tr td:nth-child(4) .calc_price {
    color: #777777;
    font-size: 0.8em;
}
#cart_list_section table tr td:nth-child(4) .total_price {
    color: #3B353C;
    font-weight: 700;
    font-size: 1.2em;
}
#cart_list_section table tr td:nth-child(5) {
    width: 10%;
}
.wrapper .container #cart_list_section .delete_td img {
    width: 30%;
}
#main .button_box {
    margin-top: 3.5em;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}
#main .button_box .continue_btn {
    height: 70%;
    background: none;
    color: #3B353C;
    font-size: 20px;
    border-radius: 15px;
    border: 5px solid rgba(223, 115, 102, 0.3);
}
#main .button_box .continue_btn:hover {
    background: rgba(223, 115, 102, 0.3);
    border: none;
}
#main .price_box {
    text-align: center;
    vertical-align: center;
}
#main .price_box p {
    font-size: 25px;
    font-weight: 700;
}
article#pay {
    width: 28%;
    background: #fafafa;
    position: relative;
}
article#pay h2 {
    font-weight: 700;
    margin: 1.5em 0 0 0.5em;
}
article#pay .row {
    margin: 5em 1em;
}
article#pay .row > * {
    padding: 0;
}
article#pay .row > #payment > button {
    width: 75%;
    padding: 0.65em 2em 0.65em 2em;
    font-size: 1em;
    background: none;
    border: 3px solid rgba(223, 115, 102, 0.3);
    border-radius: 50px;
    color: #3B353C;
}
article#pay .row > #payment > button:hover {
    background: rgba(223, 115, 102, 0.3);
    border: none;
}
article#pay > button {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    font-size: 30px;
}
/* 개인정보수정 - edit_personal_info */
.edit_info tr td:nth-child(1) {
    width: 20%;
}
.edit_info tr td:nth-child(2) {
    width: 80%;
}
.edit_info tr td:nth-child(2) input {
    width: 80%;
    border: 1px solid #aaaaaa;
}
.edit_info tr td:nth-child(2) button {
    font-size: 18px;
    margin-left: 10px;
    padding: 0.4em 1em 0.4em 1em;
    background: #e5e5e5;
    color: #3B353C;
}
.edit_info tr td:nth-child(2) ul li {
    font-size: 15px;
}
.edit_info tr:nth-child(3) td:nth-child(2) div p {
    text-align: left;
    font-size: 15px;
    display: none;
}
.info_submit_box {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info_submit_box button {
    font-size: 20px;
}
.info_submit_box button:first-child {
    margin-right: 20px;
    background: #dddddd;
    color: #3B353C;
}
.info_submit_box button:first-child:hover {
    background: #e5e5e5;
}

/* 마이페이지 */
.mypage_nav {
    padding-left: 0;
    width: 80%;
    background: #e5e5e5;
    cursor: pointer;
}
.mypage_nav ul, li {
    padding-left: 0;
    list-style-type: none;
}
.mypage_nav nav > ul > li > a {
    font-weight: 700;
    text-decoration-color: #e5e5e5;
}
.mypage_nav ul, li > ul > li {
    padding: 0.5em 1em;
}
.mypage_nav ul > li li {
    padding: 0;
}
.mypage_nav li li:hover {
    font-weight: 700;
}
#mypage_main .user_info {
    margin: 2em 0;
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
    background: #fafafa;
    border-radius: 1em;
}
#mypage_main .user_info img {
    width: 5em;
    height: auto;
    margin-right: 2em;
}
#mypage_main .user_info button {
    background: #e5e5e5;
    color: #3B353C;
}
#mypage_main .user_info > div {
    display: flex;
    flex-direction: row;
}
#mypage_main .user_info .point p {
    margin-right: 1em;
}
.history header {
    display: flex;
    justify-content: space-between;
}
.history header div{
    display: flex;
    flex-direction: row;
}
.history header p {
    margin-left: 10px;
    font-size: 16px;
}
.history header > a {
    margin-left: 10px;
    font-size: 16px;
}
.history_data {
    display: flex;
    flex-direction: row;
    border: 3px solid #e5e5e5;
    padding: 1em 2em;
    border-radius: 1em;
}
.history_data img {
    width: 5em;
    margin-right: 1em;
}
.history_data p {
    margin-bottom: 0;
}
#mypage_main > section {
    margin-top: 5em;
}

#mypage_membership .user_info {
    margin: 2em 0;
    padding: 2em 2em;
    text-align: center;
    background: #fafafa;
    border-radius: 1em;
}
#mypage_membership .user_info img {
    width: 5em;
    height: auto;
    margin-right: 2em;
}
#mypage_membership .user_info p {
    text-align: center;
}
#mypage_membership .user_info > div {
    display: flex;
    flex-direction: row;
}
#mypage_membership .user_info .point p {
    margin-right: 1em;
}
#mypage_membership h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}
#mypage_membership table td {
    text-align: center;
}
#mypage_point hr {
    top:0;
    margin-bottom: 1em;
}
#mypage_point section header p {
    margin-bottom: 1em;
    text-align: right;
    font-size: 1.5em;
}
#mypage_point table td {
    display: flex;
    justify-content: space-between;
}
#mypage_point table td {
    display: flex;
    justify-content: space-between;
}
#mypage_point td div:first-child p {
    text-align: left;
}
#mypage_point td div:last-child p {
    text-align: right;
}
#mypage_review th, td {
    text-align: center;
}
#mypage_review td img{
    /* 이미지 세로 중앙 정렬*/
    vertical-align: middle;
}
#mypage_private_info td {
    text-align: left;
}
#mypage_private_info ul li {
    list-style-type: disc;
}
/* 상영시간표 */
.bg-black-wrapper {
    background: #000 !important;
}
.screening-schedule .row {
    margin-left: 0;
}
.table-div {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    height: 40em; /* 부모 요소에 고정 높이 설정 */
}
tbody {
    width: 100%;
}
#schedule-table {
    width: 100%;
    height: 100%; /* 테이블에 부모 요소와 같은 높이 설정 */
    border-collapse: collapse; /* 테이블 셀 사이의 공간 제거 */
}
#schedule-table th {
    color: #FFFFFF;
    text-align: center;
}
#schedule-table th:nth-child(1) {
    width: 25%;
}
#schedule-table th:nth-child(2) {
    width: 30%;
}
#schedule-table th:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#schedule-table th:nth-child(3) h5 {
    color: #FFFFFF;
}
.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    margin-left: 5px;
}
#schedule-table td {
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
}
#schedule-table td:nth-child(1),
#schedule-table td:nth-child(2) {
    width: 12.5%;
}
#schedule-table td:nth-child(4) ul {
    padding: 0;
}
#schedule-table td:nth-child(4) {
    width: 45%;
}
.scrollable-content {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.region-btn,
.theater-name,
.movie-item,
.date-btn,
.schedule-item {
    cursor: pointer;
}
#select-theater-group {
    padding: 0;
}
#select-theater-group ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}
#select-theater-group ul > li {
    text-align: left;
    padding: 0.5em 1em;
}
td.theater-name {
    cursor: pointer;
}
#select-theater-group ul > li.clicked {
    background: #733C6F;
    color:#fff;
}
td.theater-name.clicked {
    color: #733C6F;
    font-weight: 500;
}
#theater-list {
    padding: 0;
}
#theater-list td {
    text-align: left;
    padding: 0.5em 1em;
}
#theater-list tbody tr {
    border-top: 0;
}
#select-movie-group {
    padding: 0;
}
#select-movie-group ul {
    padding: 0;
}
.movie-item {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}
.movie-item.clicked {
    background: #733C6F;
    color: #FFFFFF;
}
.movie-item > .certification-img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}
.movie-item > p {
    text-align: left;
    margin: 0;
}
#select-date-group ul {
    display: flex;
    justify-content: space-between;
}
.date-btn {
    margin: 0.25em 0.5em;
    padding: 0.25em 0.5em;
    color: #3B353C;
}
.date-btn.clicked {
    border-radius: 10px;
    background: #FFFFFF;
}
.theaterNumber-group {
    padding: 0.5em;
}
.theaterNumber-group ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}
.theaterNumber-group h4 {
    text-align: left;
}
.schedule-item {
    margin-right: 0.5em;
    padding: 0.5em 1em;
    background: #FFFFFF;
    border-radius: 10px;
}
.schedule-item.clicked {
    background: #733C6F;
}
.schedule-item.clicked h5, .schedule-item.clicked h6 {
    color: #FFFFFF;
}

/* 상영좌석표 */
.seat-selection header {
    width: 100%;
}
.seat-selection header > h4 {
    text-align: center;
    color: #F2F2F2;
    padding: 1em;
}
.seat-selection header > div {
    background: #F2F2F2;
}
#select-info {
    padding: 1em;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
#select-info > div {
    padding: 1em 2em;
}
#movie-info {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 15px;
}
#movie-info img {
    margin-right: 1em;
    width: 4em;
}
#movie-info > .text > .movie-title {
    display: flex;
    flex-direction: row;
}
#movie-info > .text img {
    width: 1.5em;
}
#select-info-form {
    display: flex;
    align-items: center;
}
#select-info-form > form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#select-info-form > form label {
    margin-right: 1em;
    font-size: 0.9em;
}
#select-info-form > form input {
    margin-left: 0.5em;
    padding-left: 1em;
    border: 1px solid #c4c3ca;
    border-radius: 5px;
}
#select-info-form > form button {
    margin: 0 0 1em 0;
    padding: 0.65em 2em 0.65em 2em;
    height: 100%;
    font-size: 0.8em;
    color: #F2F2F2;
    background: #5155A6;
}
#seats-select {
    padding: 2em 1em;
}
.screen-field {
    padding: 3em 0 4em;
}
.screen-field .screen {
    margin: 0 auto;
    height: 1.2em;
}
.seating-area {
    padding: 0 3em;
}
.column-group {
    display: flex;
    flex-direction: row;
    height: auto;
}
.column-group .column-header {
    display: flex;
    align-items: center;
    height: 60px;
}
.column-group h4 {
    margin-right: 0.5em;
}
.column-group .seat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.column-group .seat p {
    color:#c4c3ca;
    font-weight: 400;
}
.seats-info {
    padding: 3em 4em 0;
    display: flex;
    flex-direction: row;
}
.seats-info > div {
    display: flex;
    flex-direction: row;
}
.seats-info > div p {
    font-size: 0.7em;
    color: #F2F2F2;
}
.seat.small {
    width: 0.7em;
    height: 0.7em;
}
.seat.selected {
    border: 2px solid #F28379;
    background: #F24949;
}
.seat.selected p {
    color: #FFFFFF;
}
.seat.able:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.seat.disabled {
    background: #566a7f;
    position: relative;
}
.diagonal-line {
    width: 100%;
    height: 100%;
    position: relative;
}
.diagonal-line::before {
    content: '';
    position: absolute;
    top: 100%; /* 선을 요소의 중간에 위치시키기 위해 top 값을 조정합니다. */
    left: 0;
    width: 120%;
    height: 2px; /* 선의 두께 조절 */
    background-color: #1e2c3c; /* 선의 색상 */
    transform: translateY(-50%) rotate(-45deg); /* 대각선 방향 및 위치 조정 */
    transform-origin: left top; /* 회전 기준 설정 */
}
.seat.reserved {
    background: #566a7f;
}
#pay-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#pay-box div {
    display: flex;
    flex-direction: row;
}
#pay-box h3, #pay-box h4 {
    color: #F2F2F2;
    margin-right: 1em;
    line-height: 64px;
}
#pay-box button {
    margin: 0 1em 0 1em;
    padding: 1em 3em 1em 3em;
    font-size: 1em;
    font-weight: 400;
}