body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2029;
}

.container{
    display:block;
    max-width:680px;
    width:80%;
    margin:120px auto;
}

h1{
    color: #c4c3ca;
    font-size:48px;
    letter-spacing:-3px;
    text-align:center;
    margin:120px 0 80px 0 ;
    transition:.2s linear;
    font-weight: 900;
}

.links{
    list-style-type:none;
    li{
        display:inline-block;
        margin:0 20px 0 0;
        transition:.2s linear;
        &:nth-child(2){
            opacity : .6;
            &:hover{
                opacity : 1;
            }
        }
        &:nth-child(3){
            opacity : .6;
            float:right;
            &:hover{
                opacity : 1;
            }
        }
        a{
            text-decoration:none;
            color: #c4c3ca;
            font-weight:bolder;
            text-align:center;
            cursor : pointer;
        }
    }
}

a {
    text-decoration: none;
}


form{
    width:100%;
    max-width:680px;
    margin:40px auto 10px;
    .input__block{
        margin:20px auto;
        display:block;
        position:relative;
        &.first-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:50px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom: 15px solid rgba(255, 255, 255, 0.1);
                transition:.2s linear;
            }
        }
        &.signup-input__block{
            &::before{
                content:"";
                position:absolute;
                top:-15px;
                left:150px;
                display:block;
                width:0;
                height:0;
                background:transparent;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-bottom: 15px solid rgba(255, 255, 255, 0.3);
                transition:.2s linear;
            }
        }
        input{
            display:block;
            width:90%;
            max-width:680px;
            height:50px;
            margin:0 auto;
            border-radius:8px;
            border:none;
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.3);
            padding:0 0 0 15px;
            font-size:14px;
            font-family: 'Montserrat', sans-serif;
            &:focus,
            &:active{
                outline:none;
                border:none;
                color: rgba(255, 255, 255, 0.1);
            }
            &.repeat__password{
                opacity : 0;
                display : none;
                transition:.2s linear;
            }
        }
    }

    .signin__btn{
        background:#df7366;
        color:white;
        display:block;
        width:92.5%;
        max-width:680px;
        height:50px;
        border-radius:8px;
        margin:0 auto;
        border:none;
        cursor:pointer;
        font-size:20px;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 0 15px 30px rgba(223, 115, 102, 0.36);
    ;
        transition:.2s linear;
        &:hover{
            box-shadow: 0 0 0 rgba(233, 30, 99, 0);
        }
    }
}
.terms-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center; /* 수직 가운데 정렬을 위해 */
}
.terms-container .terms_show {
    height: 5%;
    margin-left: 3%; /* 버튼과 label 사이의 간격 조정 */
    background: #c4c3ca;
    border: none;
    border-radius: 5px;
}
.terms-container input[type="checkbox"] {
    margin-left: 50%;
}

.terms-container label {
    color:#fff;
}

#sign_action {
    width: 92.5%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}
#find {
    float: left;
    display: flex;
    flex-direction: row;
}
.find_link {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
}
.remember_email label {
    color: #fff;
    font-size: 16px;
}

.separator{
    display:block;
    margin:30px auto 10px;
    text-align:center;
    height:40px;
    position:relative;
    background:transparent;
    color: #c4c3ca;
    font-size:13px;
    width:90%;
    max-width:680px;
    &::before{
        content:"";
        position:absolute;
        top:8px;
        left:0;
        background: #c4c3ca;
        height:1px;
        width:45%;
    }
    &::after{
        content:"";
        position:absolute;
        top:8px;
        right:0;
        background: #c4c3ca;
        height:1px;
        width:45%;
    }
}

.google_btn,
.naver_btn{
    display:block;
    width:90%;
    max-width:680px;
    margin:20px auto;
    height:50px;
    cursor:pointer;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    border-radius:8px;
    border:none;
    line-height:40px;
    &.google_btn{
        background:#5b90f0;
        color:white;
        box-shadow:0 15px 30px rgba(91, 144, 240, 0.36);
        transition:.2s linear;
        .fa {
            padding:0 5px 0 0 ;
        }
        .fa img {
            vertical-align: middle;
            width: 20px;
        }
        &:hover{
            box-shadow: 0 0 0 rgba(91, 144, 240, 0);
        }
    }
    &.naver_btn{
        background: #c0c3c1;
        color:white;
        box-shadow: 0 15px 30px rgba(192, 195, 193, 0.36);
    ;
        transition:.2s linear;
        .fa{
            padding:0 5px 0 0 ;
        }
        .fa img {
            vertical-align: middle;
            width: 20px;
        }
        &:hover{
            box-shadow: 0 0 0 rgba(37, 40, 45, 0);
        }
    }
}
footer{
    p{
        text-align:center;
        color: #c4c3ca;
        .fa{
            color: #c4c3ca;
        }
    }
}
#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 검은색 배경 */
    backdrop-filter: blur(5px); /* 배경 블러 효과 */
    z-index: 999; /* 모달보다 위에 표시되도록 z-index 설정 */
    display: none; /* 초기에는 숨겨짐 */
}
/* 모달 창 */
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    overflow: auto;
    background: #eeeeee;
    border-radius: 30px;
}

.modal h1 {
    margin: 50px 0 30px 0;
    color: #1f1920;
    font-size: 30px;
}
.modal_content {
    width: 80%;
    height: 70%;
    margin: 0 auto;
}
.modal_content textarea {
    width: 100%;
    height: 80%; /* 원하는 높이로 조절하세요 */
    resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
    border: none;
    background: #eeeeee;
    font-size: 15px;
    user-select: none; /* 텍스트 선택을 비활성화하여 수정을 방지 */
    overflow-y: scroll; /* 세로 스크롤만 표시되도록 설정 */
}

.modal_terms_agree {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* find_email */
#sign_action {
    width: 92.5%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
#sign_action p, a {
    color: #fafafa;
}
#sign_action div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
#sign_action div:nth-child(2) p {
    margin-left: 10px;
}
.result {
    width: 92%;
    margin: 0 auto;
    padding: 2em;
    background: rgba(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}
.result h3 {
    font-size: 30px;
    color: #3B353C;
}
.result div {
    width: 60%;
    margin: 0 auto;
}
.result .find_email, .signup_date {
    display: flex;
    flex-direction: row;
}
.result p {
    font-size: 20px;
    color: #3B353C;
    text-align: left;
    margin-block-end: 0.2em;
}
.result .button {
    width: 30%;
    font-size: 20px;
    padding: 1em;
    margin-top: 2em;
    border-radius: 50px;
    border: none;
    color: #3B353C;
}
.result button.btn1 {
    background: #2B252C;
    color: #fafafa;
}
.result button.btn1:hover {
    background: #3B353C
}
.result button.btn2 {
    background: #df7366;
    color: #fafafa;
}
.result button.btn2:hover {
    background: #ef8376;
}
.result .password_flex {
    display: flex;
    flex-direction: row;
    width: 37%;
}
.success_result_email, .success_result_password,
.fail_result_email, .fail_result_password{
    display: none;
}