<!-- event_list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 목록</title>
    <style>
        td {
            padding: 15px; /* 좌우 간격을 조절할 값 */
        }
        th{
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>이벤트 목록</h1>
<table>
    <thead>
    <tr>
        <th>이벤트 번호</th>
        <th>작성자 이메일</th>
        <th>이벤트제목</th>
        <th>이벤트 상세글</th>
        <th>이벤트 이미지</th>
        <th>이벤트 이미지 상세글</th>
        <th>등록일자</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="event : ${eventList}">
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.id}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.memberEmail}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.event_name}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.event_detail}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.event_image}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${event.event_alt}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${#temporals.format(event.regDate, 'yyyy-MM-dd')}"></strong></td>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong th:text="${#temporals.format(event.updateDate, 'yyyy-MM-dd')}"></strong></td>
<!--        <td th:text="${event.id}"></td>-->
<!--        <td th:text="${event.memberEmail}"></td>-->
<!--        <td th:text="${event.event_name}"></td>-->
<!--        <td th:text="${event.event_detail}"></td>-->
<!--        <td th:text="${event.event_image}"></td>-->
<!--        <td th:text="${event.event_alt}"></td>-->
<!--        <td th:text="${#temporals.format(event.regDate, 'yyyy-MM-dd')}"></td>-->
<!--        <td th:text="${#temporals.format(event.updateDate, 'yyyy-MM-dd')}"></td>-->
        <td style="text-align: right; width: 50px;">
            <img alt="상품 수정 버튼" src="/images/magnifier.png" style="width: 24px; height: auto; margin-right: 20px;"/>
            <img alt="상품 삭제 버튼" src="/images/delete.png" style="width: 24px; height: auto; margin-right: 15px;"/>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:each="i : ${#numbers.sequence(startPage, endPage)}" th:href="@{'/eventList(page=' + ${i} + ')'}" th:text="${i}"></a>
</div>
</body>
</html>