<!-- event_list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 목록</title>
    <style>
        td {
            padding: 15px; /* 좌우 간격을 조절할 값 */
        }
        th{
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>이벤트 목록</h1>
<table>
    <thead>
    <tr>
        <th>이벤트 번호</th>
        <th>작성자 이메일</th>
        <th>이벤트제목</th>
        <th>이벤트 상세글</th>
        <th>이벤트 이미지</th>
        <th>이벤트 이미지 상세글</th>
        <th>등록일자</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="event : ${eventList}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.memberEmail}"></td>
        <td th:text="${event.event_name}"></td>
        <td th:text="${event.event_detail}"></td>
        <td th:text="${event.event_image}"></td>
        <td th:text="${event.event_alt}"></td>
        <td th:text="${#temporals.format(event.regDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(event.updateDate, 'yyyy-MM-dd')}"></td>
        <td>
            <a th:href="@{'/admin/edit/' + ${event.id}}">수정</a>
            <a th:href="@{'/admin/delete/' + ${event.id}}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:each="i : ${#numbers.sequence(startPage, endPage)}" th:href="@{'/eventList(page=' + ${i} + ')'}" th:text="${i}"></a>
</div>
</body>
</html>