<!-- Navbar -->

<div class="movie-list-container">
<nav
        class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar" style="margin-bottom: 10px;"
>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                        aria-label="Search..."
                        class="form-control border-0 shadow-none"
                        placeholder="Search..."
                        type="text"
                />
            </div>
        </div>
        <!-- /Search -->
    </div>
</nav>

<!-- / Navbar -->

                <!-- Content -->

                    <!-- Hoverable Table rows -->
                    <div class="card">
                        <h5 class="card-header">Movies List</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover" style="table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">영화 번호</th>
                                    <th style="width: 30%;">제목</th>
                                    <th style="width: 5%;">상영시간</th>
                                    <th style="width: 10%;">개봉일자</th>
                                    <th style="width: 10%;">예매순위(예매율)</th>
                                    <th style="width: 20%;">누적 관객수</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr th:each="movie : ${movieList}">
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong th:text="${movie.id}">영화ID</strong></td>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i><a th:href="@{/movies/{id}(id=${movie.id})}"><strong th:text="${movie.title}">영화제목</strong></a></td>
                                    <td th:text="${movie.runtime}">영화런타임</td>
                                    <td th:text="${movie.releaseDate}">영화개봉일자</td>
                                    <td><a href="#" class="btn btn-primary btn-sm edit-movie-btn" th:data-movie-id="${movie.id}">수정</a></td>
                                    <td>
                                        <form th:action="@{/movies/delete/{id}(id=${movie.id})}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link" href="#" th:onclick="loadMovieList([[${currentPage - 1}]]); return false;" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == page} ? 'active'">
                                    <a class="page-link" href="#" th:onclick="loadMovieList([[${page}]]); return false;" th:text="${page + 1}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled'">
                                    <a class="page-link" href="#" th:onclick="loadMovieList([[${currentPage + 1}]]); return false;" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            </div>
                    <!--/ Hoverable Table rows -->

<!-- 영화 수정 폼을 표시할 컨테이너 -->
<div id="edit-movie-container" style="display: none;"></div>


<script>


    $(document).ready(function () {
        // 영화 수정 버튼 클릭 시
        $('.edit-movie-btn').on('click', function () {
            var movieId = $(this).data('movie-id');
            $('#edit-movie-container').load('/movies/edit/' + movieId, function () {
                $('#edit-movie-container').show();
            });
        });
    });



    // 영화 목록 로드 함수
        function loadMovieList(page) {
            $.ajax({
                url: '/admin/movieList',
                type: 'POST',
                data: { page: page },
                success: function(data) {
                    // 컨테이너에 결과 HTML 넣기
                    $('.movie-list-container').html(data);
                },
                error: function() {
                    alert('영화 목록 로드 중 오류가 발생했습니다.');
                }
            });
        }
</script>

