<!-- event_list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Navbar -->

<nav
        class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar" style="margin-bottom: 10px;"
>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                        aria-label="Search..."
                        class="form-control border-0 shadow-none"
                        placeholder="Search..."
                        type="text"
                />
            </div>
        </div>
        <!-- /Search -->
    </div>
</nav>

<!-- / Navbar -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
    <style>
        td {
            padding: 15px; /* 좌우 간격을 조절할 값 */
        }

        th {
            padding: 15px;
        }
    </style>
</head>
<body>

<div class="row">
    <!-- 미답변 문의 리스트 -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">미답변 문의 List</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>문의 번호</th>
                        <th>작성자 이름</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자 이메일</th>
                        <th>문의 상태</th>
                        <th></th>
                        <th style="display: none;">답변받을 이메일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inquiry : ${unansweredInquiryList.content}" data-toggle="modal"
                        th:data-id="${inquiry.id}"
                        data-target="#inquiryModal" th:data-type="${inquiry.type}">
                        <td th:text="${inquiry.id}"></td>
                        <td th:text="${inquiry.name}"></td>
                        <td th:text="${inquiry.subject}"></td>
                        <td>
                            <span th:text="${#strings.length(inquiry.message) > 10 ? #strings.substring(inquiry.message, 0, 10) + '...' : inquiry.message}"></span>
                        </td>
                        <td th:text="${inquiry.email}"></td>
                        <td th:text="${inquiry.type}"></td>
                        <td th:data-createdat="${inquiry.createdAt}">
                            <span class="time-since-created"></span>
                        </td>
                        <td style="display: none;" th:text="${inquiry.recipientEmail}"></td>
                    </tr>
                    </tbody>
                </table>
                <div style="text-align: center;" th:if="${!#lists.isEmpty(unansweredInquiryList.content)}"
                     th:with="startUnanswered = ${startUnansweredPage != null ? startUnansweredPage : 1},
                  endUnanswered = ${endUnansweredPage != null ? endUnansweredPage : 1}">
                    <a href="#" th:each="i : ${#numbers.sequence(startUnanswered, endUnanswered)}"
                       th:href="@{/inquiryList(page=${i})}" th:data-page="${i}" th:text="${i}" class="paging-btn"></a>
                </div>

            </div>
        </div>
    </div>

    <!-- 답변 완료된 문의 리스트 -->
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">답변 완료된 문의 List</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>문의 번호</th>
                        <th>작성자 이름</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자 이메일</th>
                        <th>문의 상태</th>
                        <th></th>
                        <th style="display: none;">답변받을 이메일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inquiry : ${answeredInquiryList.content}" data-toggle="modal"
                        th:data-id="${inquiry.id}"
                        data-target="#answeredInquiryModal" th:data-type="${inquiry.type}">
                        <td th:text="${inquiry.id}"></td>
                        <td th:text="${inquiry.name}"></td>
                        <td th:text="${inquiry.subject}"></td>
                        <td>
                            <span th:text="${#strings.length(inquiry.message) > 10 ? #strings.substring(inquiry.message, 0, 10) + '...' : inquiry.message}"></span>
                        </td>
                        <td th:text="${inquiry.email}"></td>
                        <td th:text="${inquiry.type}"></td>
                        <td th:data-createdat="${inquiry.createdAt}">
                            <span class="time-since-created"></span>
                        </td>
                        <td style="display: none;" th:text="${inquiry.recipientEmail}"></td>
                    </tr>
                    </tbody>
                </table>
                <div style="text-align: center;" th:if="${!#lists.isEmpty(answeredInquiryList.content)}"
                     th:with="startAnswered = ${startAnsweredPage != null ? startAnsweredPage : 1},
                  endAnswered = ${endAnsweredPage != null ? endAnsweredPage : 1}">
                    <a href="#" th:each="i : ${#numbers.sequence(startAnswered, endAnswered)}"
                       th:href="@{/inquiryList(page=${i})}" th:data-page="${i}" th:text="${i}" class="paging-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" tabindex="-1" role="dialog" aria-labelledby="inquiryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">문의 상세</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>문의 번호:</strong> <span id="modal-inquiry-id"></span></p>
                        <p><strong>작성자:</strong> <span id="modal-inquiry-name"></span></p>
                        <p><strong>제목:</strong> <span id="modal-inquiry-subject"></span></p>

                    </div>
                    <div class="col-md-6">
                        <p><strong>문의 상태:</strong> <span id="modal-inquiry-type"></span></p>
                        <p><strong>작성자 이메일:</strong> <span id="modal-inquiry-email"></span></p>
                        <p><strong>답변받을 이메일:</strong> <span id="modal-recipient-email"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>내용:</strong></p>
                        <p><span id="modal-inquiry-message"></span></p>
                    </div>
                </div>
            </div>
            <!-- Reply Form -->
            <div class="card-body">
                <form id="replyForm">
                    <input type="hidden" id="inquiryIdInput" name="inquiryId">
                    <input type="hidden" id="modal-inquiry-name-input" name="userName">
                    <input type="hidden" id="modal-recipient-email-input" name="recipientEmail">
                    <input type="hidden" id="modal-inquiry-subject-input" name="subject">
                    <input type="hidden" id="modal-inquiry-message-input" name="message">
                    <div class="form-group">
                        <label for="replyMessage">답변 내용</label>
                        <textarea class="form-control" id="replyMessage" name="replyMessage" rows="5"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Reply</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Inquiry Modal -->
<div class="modal fade" id="answeredInquiryModal" tabindex="-1" role="dialog"
     aria-labelledby="answeredInquiryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="answeredInquiryModalLabel">답변 완료된 문의 상세</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>문의 번호:</strong> <span id="modal-answered-inquiry-id"></span></p>
                        <p><strong>작성자:</strong> <span id="modal-answered-inquiry-name"></span></p>
                        <p><strong>제목:</strong> <span id="modal-answered-inquiry-subject"></span></p>
                        <p><strong>내용:</strong> <span id="modal-answered-inquiry-message"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>문의 상태:</strong> <span id="modal-answered-inquiry-type"></span></p>
                        <p><strong>작성자 이메일:</strong> <span id="modal-answered-inquiry-email"></span></p>
                        <p><strong>답변받을 이메일:</strong> <span id="modal-answered-recipient-email"></span></p>
                    </div>
                    <hr> <!-- 구분선 추가 -->
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>문의에 대한 답변:</strong></p>
                            <p id="modal-answered-inquiry-reply"></p> <!-- 답변 내용 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="module">

    import {updateTimeSinceCreated} from '/modules/timeSinceCreated.js'; //시간 경과 모듈
    import { fetchUnansweredInquiryCount } from '/modules/inquiryCount.js';

    $(document).ready(function () {

        updateTimeSinceCreated();


        $('tr[data-toggle="modal"]').on('click', function () {
            var inquiryId = $(this).data('id');
            var inquiryType = $(this).data('type');
            var inquiry = $(this).children('td');

            if (inquiryType === '미답변') {
                // Populate modal with inquiry details for unanswered inquiries
                $('#modal-inquiry-id').text(inquiry.eq(0).text());
                $('#modal-inquiry-name').text(inquiry.eq(1).text());
                $('#modal-inquiry-subject').text(inquiry.eq(2).text());
                $('#modal-inquiry-message').text(inquiry.eq(3).text());
                $('#modal-inquiry-email').text(inquiry.eq(4).text());
                $('#modal-inquiry-type').text(inquiry.eq(5).text());
                $('#modal-recipient-email').text(inquiry.eq(7).text());

                // Set values for reply form
                $('#inquiryIdInput').val(inquiryId);
                $('#modal-inquiry-name-input').val(inquiry.eq(1).text().trim());
                $('#modal-recipient-email-input').val(inquiry.eq(7).text().trim());
                $('#modal-inquiry-subject-input').val('[Cinemacast] ' + inquiry.eq(1).text().trim() + '님의 문의에 대한 답변입니다');
                $('#modal-inquiry-message-input').val(inquiry.eq(3).text().trim());

                // Show the reply form for unanswered inquiries
                $('#replyFormContainer').show();
            } else {
                // Populate modal with inquiry details for answered inquiries
                $('#answeredInquiryModalLabel').text('답변 완료된 문의 상세');
                $('#modal-answered-inquiry-id').text(inquiry.eq(0).text());
                $('#modal-answered-inquiry-name').text(inquiry.eq(1).text());
                $('#modal-answered-inquiry-subject').text(inquiry.eq(2).text());
                $('#modal-answered-inquiry-message').text(inquiry.eq(3).text());
                $('#modal-answered-inquiry-email').text(inquiry.eq(4).text());
                $('#modal-answered-inquiry-type').text(inquiry.eq(5).text());
                $('#modal-answered-recipient-email').text(inquiry.eq(7).text());

                // Ajax 요청으로 답변 데이터 가져오기
                $.ajax({
                    type: 'GET',
                    url: '/admin/inquiryReplies/' + inquiryId,
                    success: function (response) {
                        console.log("응답 답변내용 데이터:", response);
                        $('#modal-answered-inquiry-reply').text(response.replyMessage);
                    },
                    error: function () {
                        alert('답변 데이터를 가져오는 데 실패했습니다.');
                    }
                });

                // Hide the reply form for answered inquiries
                $('#replyFormContainer').hide();
            }
        });

        $('#replyForm').on('submit', function (event) {

            // FormData 객체 생성
            const formData = new FormData(this);

            console.log("formData 체크1 === " + formData);

            // sendRequest 함수를 사용하여 서버로 데이터 전송
            sendRequest('POST', '/admin/sendReply', formData, function (response) {

                console.log("formData 체크2 === " + formData);

                console.log(response);

                if (response === 'success') {
                    $('#inquiryModal').modal('hide');
                    alert('답변이 성공적으로 전송되었습니다.');
                    fetchUnansweredInquiryCount();
                    console.log(response);
                    location.reload();
                } else {
                    alert('답변 전송 중 오류가 발생했습니다.');
                }
            }, function (xhr, status, error) {
                console.error('Error occurred: ', error);
                alert('답변 전송 중 오류가 발생했습니다.');
            });
        });
    });

    // AJAX 요청을 보내는 공통 함수
    function sendRequest(type, url, data, onSuccess, onError) {
        $.ajax({
            type: type,
            url: url,
            data: data,
            success: onSuccess,
            processData: false, // FormData 사용 시 필수
            contentType: false, // FormData 사용 시 필수
            error: onError
        });
    }

    // 페이지 번호를 세션 스토리지에 저장하거나 제거하는 함수
    function setPageNumber(pageNumber, shouldRemove = false) {
        if (shouldRemove) {
            sessionStorage.removeItem('pageNumber');
        } else {
            sessionStorage.setItem('pageNumber', pageNumber);
        }
    }

    // 업데이트 버튼 클릭 이벤트 핸들러
    $('.update-btn').click(function () {
        var eventId = $(this).data('id');
        var pageNumber = $(this).data('page');
        setPageNumber(pageNumber);
        sendRequest('GET', '/admin/eventUpdate', {eventId: eventId}, function (response) {
            $('.container-xxl').html(response);
        });
    });

    // 페이징 버튼 클릭 이벤트 핸들러
    $('.paging-btn').click(function (e) {
        e.preventDefault();
        var pageNumber = $(this).data('page');
        sendRequest('GET', '/admin/inquiryList?page=' + pageNumber, {}, function (response) {
            $('.container-xxl').html(response);
            setPageNumber(pageNumber);
        });
    });
    //
    // // 삭제 버튼 클릭 이벤트 핸들러
    // $('.delete-btn').click(function (e) {
    //     e.preventDefault();
    //     var eventId = $(this).data('id');
    //     var pageNumber = $(this).data('page');
    //     sendRequest('/admin/eventDelete/' + eventId + '?pageNumber=' + pageNumber, {}, function (response) {
    //         console.log('Event deleted successfully');
    //         $('.container-xxl').html(response);
    //         setPageNumber(pageNumber, true);
    //     });
    // });

    // 텍스트를 10자로 자르고 "..."을 추가하는 함수
    function truncateText(text, length) {
        if (text.length > length) {
            return text.substring(0, length) + '...';
        }
        return text;
    }

    //.truncate-text 요소에 대해 텍스트를 변환
    $('.truncate-row').each(function () {
        $(this).find('td').each(function () {
            if (!$(this).html().match(/<a|<img/)) {
                var originalText = $(this).text();
                var truncatedText = truncateText(originalText, 10);
                $(this).text(truncatedText);
            }
        });
    });

</script>
</body>
</html>