<!-- Navbar -->

<nav
        class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar" style="margin-bottom: 10px;"
        xmlns:th="http://www.thymeleaf.org">

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                        aria-label="Search..."
                        class="form-control border-0 shadow-none"
                        placeholder="Search..."
                        type="text"
                />
            </div>
        </div>
        <!-- /Search -->
    </div>
</nav>

<!-- / Navbar -->

<!-- Content -->

<!-- Hoverable Table rows -->
<div class="card">
    <h5 class="card-header">상영관 목록</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>상영관 고유번호</th>
                <th>지점명</th>
                <th>지역</th>
                <th>상영관 갯수</th>
                <th>상영관 별 좌석 수</th>
                <th>좌석 수</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/ Hoverable Table rows -->


