<nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar" style="margin-bottom: 10px;">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input aria-label="Search..." class="form-control border-0 shadow-none" placeholder="Search..." type="text" />
            </div>
        </div>
        <!-- /Search -->
    </div>
</nav>
<!-- / Navbar -->

<h4 class="fw-bold py-3 mb-4">상영관 등록하기</h4>
<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body schedule_reg">
                <form id="theater-form" method="post" action="/admin/theaterRegister">
                    <div class="mb-3">
                        <label class="form-label" for="theater_name">상영관 지점명</label>
                        <input class="form-control" id="theater_name" name="theaterName" placeholder="상영관 지점명을 입력해주세요." required type="text"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="theater_name_eng">상영관 지점명(ENG)</label>
                        <input class="form-control" id="theater_name_eng" name="theaterNameEng" placeholder="상영관 지점명을 영어로 입력해주세요." required type="text"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">지역</label>
                        <div id="button-group">
                            <button class="button btn" type="button" value="Seo">서울</button>
                            <button class="button btn" type="button" value="Inc">인천 / 경기</button>
                            <button class="button btn" type="button" value="Gan">강원</button>
                            <button class="button btn" type="button" value="Bus">부산 / 울산 / 경남</button>
                            <button class="button btn" type="button" value="Dae">대구 / 경북</button>
                            <button class="button btn" type="button" value="Gwa">광주 / 전라</button>
                            <button class="button btn" type="button" value="Chu">대전 / 충청</button>
                            <button class="button btn" type="button" value="Jeju">제주</button>
                        </div>
                        <input type="hidden" value="" name="region" id="region_value" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="theater_cnt">상영관 갯수</label>
                        <div class="select-theater-cnt">
                            <input class="form-control" id="theater_cnt" name="theaterCount" type="number" placeholder="상영관 갯수를 입력해주세요." min="1" style="width: 90%" required />
                            <button class="button btn" type="button" onclick="createSeatInputs(event)">선택</button>
                        </div>
                        <div id="seat-inputs" class="row"></div>
                    </div>
                    <button class="btn btn-primary" type="submit">등록하기</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let selectedButton = null;
        $('#button-group').on('click', '.button.btn', function () {
            if (selectedButton) {
                selectedButton.removeClass('active-btn');
            }
            $(this).addClass('active-btn');
            $('#region_value').val($(this).val());
            selectedButton = $(this);
        });

        $('#theater-form').submit(function (event) {
            const theaterName = $('#theater_name').val().trim();
            const theaterNameEng = $('#theater_name_eng').val().trim();
            const regionValue = $('#region_value').val();

            if (!regionValue) {
                event.preventDefault();
                alert('지역을 선택해주세요.');
                return;
            }

            $.ajax({
                url: '/admin/theaterList',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (response) {
                    const theaters = response.dto;
                    const savedTheaterNames = theaters.map(theater => theater.theaterName);
                    const savedTheaterNamesEng = theaters.map(theater => theater.theaterNameEng);

                    if (savedTheaterNames.includes(theaterName) || savedTheaterNamesEng.includes(theaterNameEng)) {
                        event.preventDefault();
                        alert('중복된 상영관 지점명이 있습니다. 다른 이름을 입력해주세요.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error getting DTO:', error);
                }
            });
        });
    });

    function createSeatInputs(event) {
        event.preventDefault();
        const theaterCount = parseInt(document.getElementById('theater_cnt').value);
        const seatInputsDiv = document.getElementById('seat-inputs');
        seatInputsDiv.innerHTML = '';

        for (let i = 1; i <= theaterCount; i++) {
            const theaterDiv = document.createElement('div');
            theaterDiv.classList.add('col-4', 'mb-3');

            const theaterNumberInput = document.createElement('input');
            theaterNumberInput.setAttribute('type', 'hidden');
            theaterNumberInput.setAttribute('name', 'theaterNumbers[' + (i - 1) + '].theaterNumber');
            theaterNumberInput.value = i.toString();
            theaterDiv.appendChild(theaterNumberInput);

            const theaterNameLabel = document.createElement('label');
            theaterNameLabel.textContent = i + '관';
            theaterDiv.appendChild(theaterNameLabel);

            const seatsInput = document.createElement('input');
            seatsInput.classList.add('form-control');
            seatsInput.setAttribute('type', 'number');
            seatsInput.setAttribute('name', 'theaterNumbers[' + (i - 1) + '].seatsPerTheater');
            seatsInput.setAttribute('required', 'required');
            seatsInput.setAttribute('placeholder', `${i}관의 좌석 수를 입력하세요.`);
            seatsInput.setAttribute('min', '50');
            theaterDiv.appendChild(seatsInput);

            seatInputsDiv.appendChild(theaterDiv);
        }
    }
</script>

<!-- Bootstrap JS (Optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

