<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinemacast</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/custom_player.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="right-sidebar is-preload">
<th:block layout:fragment="content">
    <div id="page-wrapper">

        <!-- 메인 -->
        <div class="wrapper style1 screening-schedule">
            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2>상영시간표</h2>
                    </header>
                    <hr />
                    <div class="row table-div">
                        <table id="schedule-table" class="default">
                            <thead>
                            <tr>
                                <th id="select-theater-th" colspan="2">영화관 선택</th>
                                <th id="select-movie-th">영화 선택</th>
                                <th id="select-time-th" colspan="2">시간 선택</th>
                            </tr>
                            </thead>
                            <tbody id="schedule-group">
                            <tr>
                                <td id="select-theater-group">
                                    <div id="select-region">
                                        <ul>
                                            <li class="region-btn">
                                                <a>서울</a>
                                                <input type="hidden" value="Seo" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>인천 / 경기</a>
                                                <input type="hidden" value="Inc" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>강원</a>
                                                <input type="hidden" value="Gan" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>대전 / 충청</a>
                                                <input type="hidden" value="Chu" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>대구 / 경북</a>
                                                <input type="hidden" value="Dae" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>부산 / 울산 / 경남</a>
                                                <input type="hidden" value="Bus" class="region-value"/>
                                            </li>
                                            <li class="region-btn">
                                                <a>광주 / 전라</a>
                                                <input type="hidden" value="Gwa" class="region-value" />
                                            </li>
                                            <li class="region-btn">
                                                <a>제주</a>
                                                <input type="hidden" value="Jeju" class="region-value" />
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td id="theater-list">
                                    <div class="scrollable-content" style="padding: 0">
                                    <table>
                                        <tbody></tbody>
                                    </table>
                                    </div>
                                </td>
                                <td id="select-movie-group">
                                    <div class="scrollable-content">
                                        <ul>
                                            <li class="movie-item" th:each="movie : ${movies}">
                                                <input type="hidden" th:value="${movie.id}" />
                                                <img src="" alt="관람가 연령" class="certification-img" th:data-certification="${movie.certifications}" />
                                                <p th:text="${movie.title}"></p>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td id="select-date-group">
<!--                                    <button type="button" class="btn backward-btn"></button>-->
                                    <ul>

                                    </ul>
<!--                                    <button type="button" class="btn forward-btn"></button>-->
                                </td>
                                <td id="select-time-group">
                                    <div class="scrollable-content">
                                        <div class="theaterNumber-group">
                                            <h4>3관</h4>
                                            <ul>
                                                <li class="schedule-item">
                                                    <h5>10:00</h5>
                                                    <h6>125석</h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>

        </div>
    </div>

    <!-- 스크립트 -->
    <script src="/assets/js/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".region-btn").click(function(event){
                event.preventDefault();
                $(".region-btn.clicked").removeClass("clicked");
                $(this).addClass('clicked');
                const regionValue = $(this).find('.region-value').val();
                $.ajax({
                    type: "GET",
                    url: "/reservation/getTheatersByRegion",
                    data: {
                        region: regionValue
                    },
                    success: function(data) {
                        const $tbody = $("#theater-list tbody");
                        $tbody.empty();
                        if(data.length > 0) {
                            $.each(data, function(index, theater) {
                                const $tr = $("<tr class='theater-row'></tr>");
                                const $td = $("<td></td>").text(theater.theaterName);
                                $td.addClass('theater-name');
                                $tr.append($td);
                                $tbody.append($tr);
                            });

                            $('.theater-name').on('click', function (event) {
                                event.preventDefault();
                                $(".theater-name.clicked").removeClass("clicked");
                                $(this).addClass('clicked');
                            });
                        } else {
                            const $tr = $("<tr class='theater-row'></tr>");
                            const $td = $("<td></td>").text("해당 지역에 영화관이 없습니다.");
                            $tr.append($td);
                            $tbody.append($tr);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX 요청 실패:", error);
                    }
                });
            });

            $('.certification-img').each(function() {
                let certification = $(this).data('certification'); // 관람 등급 데이터 가져오기

                switch (certification) {
                    case '12세 이상 관람가':
                        $(this).attr('src', '/images/ratings/12.png');
                        break;
                    case '15세 이상 관람가':
                        $(this).attr('src', '/images/ratings/15.png');
                        break;
                    case 19:
                    case '18세 이상 관람가':
                        $(this).attr('src', '/images/ratings/18.png');
                        break;
                    default:
                        $(this).attr('src', '/images/ratings/all.svg');
                }
            });

            $('.movie-item').on('click', function (e) {
                e.preventDefault();
                $('.movie-item').removeClass('clicked');
                $(this).addClass('clicked');
            });

            const dateGroup = $('#select-date-group ul');

            const today = new Date();
            const weekdays = ['일', '월', '화', '수', '목', '금', '토'];

            for (let i = 0; i < 12; i++) {
                const date = new Date(today);
                date.setDate(today.getDate() + i);

                const paragraph = document.createElement("li");
                paragraph.classList.add("date-btn");
                paragraph.innerHTML = "<h5>" + (date.getMonth() + 1) + "/" + date.getDate() + "</h5>" +
                    "<h6>" + weekdays[(date.getDay()) % 7] + "</h6>";

                dateGroup.append(paragraph);
            }

            $('.date-btn').on('click', function (e) {
                e.preventDefault();
                $('.date-btn').removeClass('clicked');
                $(this).addClass('clicked');
            });

            $('.schedule-item').on('click', function (e) {
                e.preventDefault();
                $('.schedule-item').removeClass('clicked');
                $(this).addClass('clicked');
            });
        });
    </script>

    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>


</th:block>
</body>
</html>
