<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body class="right-sidebar is-preload bg-black-wrapper">
<th:block layout:fragment="content">
    <div id="page-wrapper" class="bg-black-wrapper">

        <!-- 메인 -->
        <div class="wrapper style1 seat-selection bg-black-wrapper">
            <div class="container" th:each="movie, iterStat : ${movieDTOs}">
                <article id="main" class="special">
                    <input type="hidden"
                           id="movieId"
                           th:value="${movie.id}"
                           th:data-certification="${movie.certifications}"
                           th:data-theaterNumber="${scheduleDTO.theaterNumberId}" />
                    <header>
                        <h4>인원/좌석 선택</h4>
                        <div id="select-info">
                            <div id="movie-info">
                                <img th:src="@{'https://image.tmdb.org/t/p/w500/' + ${movie.posterPath}}" alt="영화 포스터" />
                                <div class="text">
                                    <div class="movie-title">
                                        <img src="" alt="연령 제한"><h4 th:text="${scheduleDTO.movieTitle}">영화 제목</h4>
                                    </div>
                                    <span th:text="${scheduleDTO.date}">2024-06-17</span>&nbsp;<span th:text="${scheduleDTO.startTime + ' ~' + scheduleDTO.endTime}"> 04:35 ~ 06:14</span>
                                    <p><span th:text="${scheduleDTO.theaterName}">인천대</span>&nbsp;<span th:text="${scheduleDTO.theaterNumber + '관'}"> 1관</span></p>
                                </div>
                            </div>
                            <div id="select-info-form">
                                <form id="seat-form">
                                    <label>성인
                                        <input type="number" id="adult-cnt" min="0" />
                                    </label>
                                    <label>청소년
                                        <input type="number" id="teenager-cnt" min="0" />
                                    </label>
                                    <label>경로
                                        <input type="number" id="grand-cnt" min="0" />
                                    </label>
                                    <button type="submit">선택</button>
                                </form>
                            </div>
                        </div>
                    </header>
                    <div id="seats-select">
                        <div class="screen-field">
                            <div class="screen"></div>
                        </div>
                        <div class="seating-area">
                            <div th:each="columnEntry : ${seatsByColumn}">
                                <div class="column-group">
                                    <div class="column-header">
                                        <h4 th:text="${columnEntry.key}"></h4>
                                    </div>
                                    <!-- 첫 번째 블록: 0부터 3까지의 좌석 -->
                                    <div th:each="seat, stat : ${columnEntry.value}" th:if="${stat.index >= 0 and stat.index <= 3}">
                                        <div class="seat">
                                            <p th:text="${seat.seatRow}"></p>
                                            <input type="hidden"
                                                    th:data-seat-row="${seat.seatRow}"
                                                    th:data-seat-column="${seat.seatColumn}"
                                                    th:data-seat-id="${seat.id}"
                                                    th:data-seat-available="${seat.isAvailable()}"
                                                    th:data-seat-reserved="${seat.isReserved()}" />
                                        </div>
                                    </div>
                                    <div class="seat remove"></div>
                                    <!-- 두 번째 블록: 5부터 16까지의 좌석 -->
                                    <div th:each="seat, stat : ${columnEntry.value}" th:if="${stat.index >= 4 and stat.index <= 15}">
                                        <div class="seat">
                                            <p th:text="${seat.seatRow}"></p>
                                            <input type="hidden"
                                                   th:data-seat-row="${seat.seatRow}"
                                                   th:data-seat-column="${seat.seatColumn}"
                                                   th:data-seat-id="${seat.id}"
                                                   th:data-seat-available="${seat.isAvailable()}"
                                                   th:data-seat-reserved="${seat.isReserved()}" />
                                        </div>
                                    </div>
                                    <div class="seat remove"></div>
                                    <!-- 세 번째 블록: 18부터 끝까지의 좌석 -->
                                    <div th:each="seat, stat : ${columnEntry.value}" th:if="${stat.index >= 16}">
                                        <div class="seat">
                                            <p th:text="${seat.seatRow}"></p>
                                            <input type="hidden"
                                                   th:data-seat-row="${seat.seatRow}"
                                                   th:data-seat-column="${seat.seatColumn}"
                                                   th:data-seat-id="${seat.id}"
                                                   th:data-seat-available="${seat.isAvailable()}"
                                                   th:data-seat-reserved="${seat.isReserved()}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seats-info">
                            <div class="seat-selected">
                                <div class="seat selected small"></div>
                                <p>선택좌석</p>
                            </div>
                            <div class="seat-able">
                                <div class="seat able small"></div>
                                <p>선택가능좌석</p>
                            </div>
                            <div class="seat-reserved">
                                <div class="seat reserved small"></div>
                                <p>예매완료좌석</p>
                            </div>
                            <div class="seat-disable">
                                <div class="seat disabled small"><div class="diagonal-line"></div></div>
                                <p>선택불가좌석</p>
                            </div>
                        </div>
                    </div>
                    <div id="pay-box">
                        <div>
                            <h3>총 금액 </h3><h3 id="total-price">0</h3><h4>원</h4>
                        </div>
                        <button type="button" onclick="moveToPaymentPage()">결제하기</button>
                    </div>
                </article>
            </div>

        </div>
    </div>

    <!-- 스크립트 -->
    <script src="/assets/js/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            const certification = $('#movieId').data('certification');

            let imageUrl;
            switch (certification) {
                case '12세 이상 관람가':
                    imageUrl = '/images/ratings/12.png';
                    break;
                case '15세 이상 관람가':
                    imageUrl = '/images/ratings/15.png';
                    break;
                case 19:
                case '18세 이상 관람가':
                    imageUrl = '/images/ratings/18.png';
                    break;
                default:
                    imageUrl = '/images/ratings/all.svg';
            }
            $('.text .movie-title > img').attr('src', imageUrl);

            let selectedCount = 0;
            let totalCount = 0;
            let totalPrice = 0;

            $(document).on('click', '.seat:not(.remove)', function() {
                if (totalCount === 0) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "인원을 선택해주세요.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    return;
                }

                if ($(this).prop('disabled')) return;

                if (!$(this).hasClass('selected') && selectedCount < totalCount) {
                    $(this).addClass('selected');
                    selectedCount++;
                } else if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    selectedCount--;
                }

                if (selectedCount === totalCount) {
                    $('.column-group .seat:not(.remove):not(.selected)').addClass('disabled').each(function() {
                        $(this).find('p').empty();
                        if ($(this).find('.diagonal-line').length === 0) {
                            const diagonalDiv = '<div class="diagonal-line"></div>';
                            $(this).append(diagonalDiv);
                        }
                    });
                    $('#total-price').text(totalPrice);
                } else {
                    $('.column-group .seat.disabled').removeClass('disabled').each(function() {
                        $(this).find('p').text($(this).find('input').data('seat-row')); // p 태그에 좌석 번호를 다시 설정
                        $(this).find('.diagonal-line').remove();
                    });
                    $('#total-price').text(0);
                }
            });

            $('#seat-form').on('submit', function(event) {
                event.preventDefault();

                const adultCount = parseInt($('#adult-cnt').val()) || 0;
                const teenagerCount = parseInt($('#teenager-cnt').val()) || 0;
                const grandCount = parseInt($('#grand-cnt').val()) || 0;
                totalCount = adultCount + teenagerCount + grandCount;

                const adultPrice = 15000;
                const teenagerPrice = 12000;
                const grandPrice = 12000;
                totalPrice = adultPrice*adultCount + teenagerPrice*teenagerCount + grandPrice*grandCount;

                $('.column-group .seat.selected').removeClass('selected');
                $('.column-group .seat.disabled').each(function() {
                    $(this).removeClass('disabled');
                    $(this).find('p').text($(this).find('input').data('seat-row'));
                    $(this).find('.diagonal-line').remove();
                });
                $('#total-price').text('0');
                selectedCount = 0;
            });
        });

        function moveToPaymentPage() {
            window.location.href = "/payment/";
        }
    </script>

    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</th:block>
</body>
</html>