<article id="mypage_point">
    <header><h3>나의 포인트</h3></header>
    <hr>
    <section>
        <header>
            <h4>적립/사용 내역</h4>
            <div th:if="${not #lists.isEmpty(pointInfo)}">
                <!-- 첫 번째 요소에 접근하기 위해 getContent() 메서드를 사용하고, 첫 번째 요소 (index 0)를 가져옴 -->
                <p>잔여 포인트 : <b style="color: #e45649" th:text="${pointInfo.getContent().get(0).currentPoints}+p">2000p</b></p>
            </div>
        </header>
        <table class="default">
            <tr th:each="point : ${pointInfo}" th:switch="${point.pointType}">
                <td th:case="'+'">
                    <div>
                        <p th:text="${point.content}">신규 가입 적립</p>
                        <p>
                            <span th:text="'적립'">적립</span>
                        </p>
                    </div>
                    <div>
                        <p th:text="${point.pointType}+' '+${point.points}+p" >1000p</p>
                        <p th:text="${#temporals.format(point.getRegDate(), 'yyyy-MM-dd HH:mm:ss')}">2024.5.23 14:31</p>
                    </div>
                </td>
                <td th:case="'-'">
                    <div>
                        <p th:text="${point.content}">시네마캐스트 강남점</p>
                        <p>
                            <span th:text="'사용'">사용</span>
                        </p>
                    </div>
                    <div>
                        <p class="price_minus" th:text="${point.pointType}+' '+${point.points}+p" >1000p</p>
                        <p th:text="${#temporals.format(point.getRegDate(), 'yyyy-MM-dd HH:mm:ss')}">2024.5.23 14:31</p>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</article>