<article id="mypage_main">
    <header id="mypage_main_header">
        <h5><b th:text="${myPageMemberInfo.name}">user</b>님 반갑습니다.</h5>
        <div class="user-info-box">
            <div class="user_info">
            <div>
                <img alt="멤버십 등급 이미지" th:src="@{/images/grade/{image}.png(image=${myPageGrade})}">
                <div>
                    <p>
                        <span th:text="${myPageMemberInfo.name}">user</span>님
                    </p>
                    <p style="margin-bottom: 0"><b th:text="${myPageGrade}"></b></p>
                </div>
            </div>
            <div class="point">
                <p>포인트</p>
                <!-- 첫 번째 요소에 접근하기 위해 getContent() 메서드를 사용하고, 첫 번째 요소 (index 0)를 가져옴 -->
                <p style="color: #e45649; font-weight: 600" th:text="${pointInfo.getContent().get(0).currentPoints}+p"
                   th:unless="${pointInfo == null or pointInfo.isEmpty()}">0p</p>
                <p style="color: #e45649; font-weight: 600" th:if="${pointInfo == null or pointInfo.isEmpty()}"
                   th:text="0p">0p</p>
            </div>
            </div>
            <button class="button membership_btn" id="membership_btn">등급혜택 보기</button>
        </div>
    </header>
    <!-- 예매내역 -->
    <section>
        <div class="reservation history">
            <header style="margin-bottom: 0.5em">
                <div>
                    <h4>최근 영화 예매 내역</h4>
                </div>
                <a>전체 예매 내역 조회 ></a>
            </header>
            <hr style="top:0; margin-bottom: 0.5em">
            <section>
                <article class="history_item">
                    <header>
                        <h4 class="reservation-status">결제완료</h4>
                    </header>
                    <div class="history_data">
                        <img class="featured-img" alt="영화 포스터" src="/images/movieposter.webp">
                        <div>
                            <p>예매번호</p>
                            <p>범죄도시 4</p>
                            <p><span class="history-data-date">상영일자</span><span class="history-data-time">시간</span></p>
                            <p><span class="history-data-theater">상영관</span><span class="history-data-seats">좌석</span></p>
                        </div>
                    </div>
                    <div class="button_box">
                        <button type="button" class="cancel_btn">예매취소</button>
                        <button type="button" class="detail_btn">예매상세</button>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <!-- 주문내역 -->
    <section>
        <div class="order history">
            <header style="margin-bottom: 0.5em">
                <div>
                    <h4>최근 스낵 주문 내역</h4>
                </div>
                <a id="AllOrderInfo">전체 주문 내역 조회 ></a>
            </header>
            <hr style="top:0; margin-bottom: 0.5em">
            <section>
                <article class="history_item" th:unless="${snackPaymentInfo == null or snackPaymentInfo.isEmpty()}">
                    <header>
                        <h3 th:text="${#temporals.format(snackPaymentInfo.getContent().get(0).getRegDate(), 'yyyy-MM-dd')}">2024-05-22</h3>
                    </header>
                    <div class="history_data">
                        <img th:alt="${snackPaymentInfo.getContent().get(0).getSnack().snack_alt}"
                             th:src="@{/images/menu/{image}(image=${snackPaymentInfo.getContent().get(0).getSnack().snack_image})}">
                        <div>
                            <h4 th:text="'주문번호 : ' + ${snackPaymentInfo.getContent().get(0).getMerchantUid()}">
                                주문번호 : </h4>
                            <span class="snack_nm" th:text="${snackPaymentInfo.getContent().get(0).getProductName()}+' '">팝콘</span><span><small
                                style="font-size: 14px" th:text="${snackPaymentInfo.getContent().get(0).getProductCount()}+개">3개</small> </span>
                            <p th:text="${snackPaymentInfo.getContent().get(0).getTotalPrice()}+원">36,000원 </p>
                        </div>
                    </div>
                    <div class="button_box">
                        <button type="button" class="cancel_btn">주문취소</button>
                        <button type="button" class="detail_btn">구매상세</button>
                    </div>
                </article>
                <article th:if="${snackPaymentInfo == null or snackPaymentInfo.isEmpty()}">
                    <div class="history_none">
                        <p class="snack_nm">구매하신 스낵이 없습니다.</p>
                    </div>
                </article>
            </section>
        </div>
    </section>
</article>

<script th:inline="javascript">
    $(document).ready(function() {
        $('#membership_btn').click(function(e) {
            $.ajax({
                type: 'GET',
                url: '/mypage/membership',
                success: function(response) {
                    $('#content').html(response);
                },
                error: function(xhr, status, error) {
                    console.error('btn click Error:', error);
                }
            })
        })

        // 주문내역조회 버튼 클릭 이벤트 설정
        $('#AllOrderInfo').click(function() {
            $('#content').load('/mypage/order');
        });

        $('.container').on('click', '.detail_btn', function() {
            $('#content').load('/mypage/order/detail');
        });
    });
</script>