<style>
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .movie-item {
        text-align: center;
    }

    .movie-item img {
        max-width: 100%;
        height: auto;
    }
</style>

<article id="mypage_favorite">
    <header>찜한 영화 전체보기</header>
    <section>
        <div class="movie-grid">
            <div class="movie-item" th:each="movie : ${favoriteMovies}">
                <img th:src="@{'https://image.tmdb.org/t/p/w200' + ${movie.moviePosterUrl}}" alt="포스터" />
                <p th:text="${movie.movieTitle}"></p>
                <p th:text="${#temporals.format(movie.favoritedAt, 'yyyy-MM-dd')}"></p>
                <img src="/images/delete.png" alt="삭제 버튼" />
            </div>
        </div>
    </section>
</article>