<article id="mypage_point">
    <header><h3>나의 포인트</h3></header>
    <hr>
    <section>
        <header>
            <h4>적립/사용 내역</h4>
            <p>
                잔여 포인트 : <b style="color: #e45649">2000p</b>
            </p>
        </header>
        <table class="default">
            <tr>
                <td>
                    <div>
                        <p>시네마캐스트 강남점</p>
                        <p>사용</p>
                    </div>
                    <div>
                        <p class="price_minus">1000p</p>
                        <p>2024.5.23 14:31</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <p>신규가입적립</p>
                        <p>적립</p>
                    </div>
                    <div>
                        <p>3000p</p>
                        <p>2024.5.23 14:30</p>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</article>