<article id="mypage_reservation">
    <!-- 예매내역 -->
    <section>
        <div class="reservation history">
            <header style="margin-bottom: 1em">
                    <h3>영화 예매 내역</h3>
            </header>
            <hr style="top:0; margin-bottom: 1em">
            <section>
                <article class="history_get">
                    <header>
                        <h3>2024-05-23</h3>
                    </header>
                    <div class="history_data">
                        <img src="/images/movieposter.webp" alt="영화 포스터">
                        <div>
                            <h4>예매번호 : </h4>
                            <p>범죄도시 4</p>
                            <p>2024-05-23 | 10:30 | I12</p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
</article>