<article id="mypage_favorite">
    <header>내가 작성한 관람평 전체보기</header>
    <section>
        <table class="default">
            <tr>
                <th>날짜</th>
                <th>영화명</th>
                <th>내용</th>
                <th>별점</th>
                <th></th>
            </tr>
            <tr>
                <td>2024-5-23</td>
                <td>범죄도시4</td>
                <td>범죄도시 시리즈는 꼭 봅니다 ~ 조아요</td>
                <td>4.5</td>
                <td>
                    <img src="/images/delete.png" alt="삭제 버튼" />
                </td>
            </tr>
        </table>
    </section>
</article>