<article id="mypage_main">
    <header id="mypage_main_header">
        <h2 style="font-size: 2em"><b th:text="${myPageMemberInfo.name}">user</b>님 반갑습니다.</h2>
        <div class="user_info">
            <div>
                <img alt="멤버십 등급 이미지" src="/images/grade/green.png">
                <div>
                    <p>
                        <span th:text="${myPageMemberInfo.name}">user</span>님의 등급은 <b>green</b> 입니다
                    </p>
                    <button class="button membership_btn" id="membership_btn">등급혜택 보기</button>
                </div>
            </div>
            <div class="point">
                <p>포인트</p>
                <p style="color: #e45649; font-weight: 600">1400p</p>
            </div>
        </div>
    </header>
    <!-- 예매내역 -->
    <section>
        <div class="reservation history">
            <header style="margin-bottom: 0.5em">
                <div>
                    <h3>최근 영화 예매 내역</h3>
                    <p>최근 1개월 간 구매하신 내역 입니다</p>
                </div>
                <a>전체 예매 내역 조회 ></a>
            </header>
            <hr style="top:0; margin-bottom: 0.5em">
            <section>
                <article class="history_get">
                    <header>
                        <h3>2024-05-23</h3>
                    </header>
                    <div class="history_data">
                        <img alt="영화 포스터" src="/images/movieposter.webp">
                        <div>
                            <h4>예매번호 : </h4>
                            <p>범죄도시 4</p>
                            <p>2024-05-23 | 10:30 | I12</p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <!-- 주문내역 -->
    <section>
        <div class="order history">
            <header style="margin-bottom: 0.5em">
                <div>
                    <h3>최근 스낵 주문 내역</h3>
                    <p>최근 1개월 간 구매하신 내역 입니다</p>
                </div>
                <a>전체 주문 내역 조회 ></a>
            </header>
            <hr style="top:0; margin-bottom: 0.5em">
            <section>
                <article class="history_get">
                    <header>
                        <h3>2024-05-22</h3>
                    </header>
                    <div class="history_data">
                        <img alt="스낵 이미지" src="/images/menu/menu1.png">
                        <div>
                            <h4>주문번호 : </h4>
                            <p class="snack_nm">팝콘</p>
                            <p>36,000원 <small style="font-size: 14px">3개</small></p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
</article>

<script th:inline="javascript">
    $(document).ready(function() {
        $('#membership_btn').click(function(e) {
            $.ajax({
                type: 'GET',
                url: '/mypage/membership',
                success: function(response) {
                    $('#content').html(response);
                },
                error: function(xhr, status, error) {
                    console.error('btn click Error:', error);
                }
            })
        })
    });
</script>