<article id="mypage_order">
        <!-- 주문내역 -->
    <section>
            <div class="order history">
                <header style="margin-bottom: 1em">
                        <h3>스낵 주문 내역</h3>
                </header>
                <hr style="top:0; margin-bottom: 1em">
                <section>
                    <article class="history_get">
                        <header>
                            <h3>2024-05-22</h3>
                        </header>
                        <div class="history_data">
                            <img src="/images/menu/menu1.png" alt="스낵 이미지">
                            <div>
                                <h4>주문번호 : </h4>
                                <p class="snack_nm">팝콘</p>
                                <p>36,000원 <small style="font-size: 14px">3개</small></p>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </section>
</article>