<article id="mypage_reservation">
    <!-- 예매내역 -->
    <section>
        <div class="reservation history">
            <header style="margin-bottom: 1em">
                <h4>영화 예매 내역</h4>
            </header>
            <hr style="top:0; margin-bottom: 1em">
            <section>
                <article class="history_get">
                    <header>
                        <h4 class="reservation-idx">예매번호</h4>
                        <p class="reservation-date">예매일자</p>
                    </header>
                    <div class="history_data">
                        <img class="featured-img" alt="영화 포스터" src="/images/movieposter.webp">
                        <div>
                            <p>범죄도시 4</p>
                            <p><span class="history-data-date">상영일자</span><span class="history-data-time">시간</span></p>
                            <p><span class="history-data-theater">상영관</span><span class="history-data-seats">좌석</span></p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
</article>