<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Customer Service</title>
</head>
<body>
<div th:fragment="content">
    <div>
        <div><h2>고객센터</h2></div>
        <ul>
            <li><button type="button" style="width: 20%; left: 0;"><span>FAQ</span></button></li>
            <li><button type="button" style="width: 20%; left: 20%;"><span>공지사항</span></button></li>
            <li><button type="button" style="width: 20%; left: 40%;"><span>1:1문의</span></button></li>
            <li><button type="button" style="width: 20%; left: 60%;"><span>단체관람/대관문의</span></button></li>
            <li><button type="button" style="width: 20%; left: 80%;"><span>분실물문의</span></button></li>
        </ul>
    </div>

</div>
</body>
</html>