<div class="card">
    <h5 class="card-header">Notice List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>조회수</th>
                <th>등록일자</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.pinned ? '!' : notice.id}"></td>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <a th:href="@{/cs/notice/{id}(id=${notice.id})}" th:text="${notice.title}"></a>
                </td>
                <td th:text="${notice.viewCount}"></td>
                <td th:text="${notice.regDate}"></td>


                <td>
                    <div class="dropdown">
                        <button class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" type="button">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="bx bx-edit-alt me-1"></i> Edit</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="bx bx-trash me-1"></i> Delete</a
                            >
                        </div>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>

        <div class="paging_btn">
            <div id="pagination"></div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        function generatePaginationButtons(totalPages) {

            let paginationHTML = '';
            paginationHTML += `<a class="page-item" href="javascript:void(0);" onclick="parentMovePage(1);">처음</a>`;
            paginationHTML += `<a class="page-item" href="javascript:void(0);" onclick="parentMovePage([[${currentPage} - 1]]);" >이전</a>`;

            for(let i = 1; i <= totalPages; i++) {
                paginationHTML += `<a class="page-item" href="javascript:void(0);" onclick="parentMovePage(${i});">${i}&nbsp;</a>`;
            }

            paginationHTML += `<a class="page-item" href="javascript:void(0);" onclick="parentMovePage([[${currentPage} + 1]]);" >다음</a>`;

            paginationHTML += generateTag([[${totalPages}]], '끝');

            $("#pagination").html(paginationHTML);
        }
        generatePaginationButtons([[${totalPages}]]);
    });

    // 파람으로 코드 압축. 계속 참고.
    // data-date 기억할 것. | data-term="a"   $(el).data("term")에는 a가 들어가 있음
    function generateTag (param1, param2) {
        // 두 코드의 차이는 구문
        return `<a class="page-item" href="javascript:void(0);" onclick="parentMovePage(${param1});"  >${param2}</a>`; // 텝플릿 리터럴 이라는 표기법
        // return '<a class="page-item" href="javascript:void(0);" onclick="parentMovePage('+param1+');"  >'+param2+'</a>'; // 일반적인 문자열 구문
    }

    function parentMovePage(page) {
        if(page < 1 || page > [[${totalPages}]]) {
            return;
        }

        goPage(page, 10);
    }

</script>