<div class="row notice_list">
    <table>
        <thead>
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>등록일자</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.viewCount}"></td>
            <td th:text="${notice.regDate}"></td>
        </tr>
        </tbody>
        <thead>
            <th>내용</th>
        </thead>
        <tbody>
            <th colspan="2">
                <pre th:text="${notice.content}"></pre>
            </th>
        </tbody>


    </table>

<!--    <div>-->
<!--        <span th:if="${nextNotice != null}">-->
<!--        <a>다음글&nbsp;</a>-->
<!--        <a th:href="@{/cs/notice/{id}(id=${nextNotice.id})}" th:text="${nextNotice.title}"></a>-->

<!--        </span>-->
<!--        <br>-->
<!--        <span th:if="${previousNotice != null}">-->
<!--        <a>이전글&nbsp;</a>-->
<!--        <a th:href="@{/cs/notice/{id}(id=${previousNotice.id})}" th:text="${previousNotice.title}"></a>-->
<!--        </span>-->
<!--        </br>-->
<!--        <a th:href="@{/cs/notice(page=${currentPage}, size=${size})}">Back to Notice List</a>-->
<!--    </div>-->

    <div>
        <a href="javascript:void(0);" class="back-notice" th:data-id="${notice.id}" th:data-page="${currentPage}">돌아가기</a>
        <a href="javascript:void(0);" class="mod-notice" th:data-id="${notice.id}" th:data-page="${currentPage}">수정</a>
        <a href="javascript:void(0);" class="delete-notice" th:data-id="${notice.id}" th:data-page="${currentPage}">삭제</a>
    </div>


</div>

<script th:inline="javascript">
    $(document).ready(function() {

        $(document).on('click', '.back-notice', function() {
            const currentPage = this.getAttribute('data-page');
            console.log("돌아가기 버튼의 이전 페이지 값 ", currentPage)
            $('.container-xxl').load(`/admin/notice?page=${currentPage}`);
        });

        $(document).on('click', '.mod-notice', function() {
            const noticeId = this.getAttribute('data-id');
            const currentPage = this.getAttribute('data-page')
            console.log("수정 버튼의 이전 페이지 값 ", currentPage)
            modNotice(noticeId, currentPage);
        });

        function modNotice(noticeId, currentPage) {
            $.ajax({
                type: "GET",
                url: `/admin/notice/mod/${noticeId}?page=${currentPage}`, // URL에는 noticeId만 포함
                data: { currentPage: currentPage }, // 추가 매개변수로 currentPage 값 전달
                success: function(response) {
                    $('.container-xxl').load(`/admin/notice/mod/${noticeId}?page=${currentPage}`);
                },
                error: function(xhr, status, error) {
                    alert('공지사항 수정 중 오류가 발생했습니다.');
                    console.error(xhr.responseText);
                }
            });
        }



        $('.delete-notice').on('click', function() {
            const noticeId = this.getAttribute('data-id');
            const currentPage = this.getAttribute('data-page');
            deleteNotice(noticeId, currentPage);
        });

        function deleteNotice(noticeId, currentPage) {
            $.ajax({
                url: '/admin/notice/' + noticeId,
                type: 'DELETE',
                success: function(response) {
                    alert('공지사항이 삭제되었습니다.');
                    // 성공적으로 삭제된 경우에는 필요한 작업 수행
                    $('.container-xxl').load(`/admin/notice?page=${currentPage}`);

                },
                error: function(xhr, status, error) {
                    alert('공지사항 삭제 중 오류가 발생했습니다.');
                    console.error(xhr.responseText);
                }
            });
        }
    });
</script>

