<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/jquery/jquery-3.7.1.min.js"></script>

    <style>
        body {
            background-color: silver;
        }
        [id^="input"] {
            margin-top: 10px;
            padding: 5px;
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #loginpage1, #loginpage2 {
            margin: 50px 50px 50px 50px;
            text-align: center;
        }

        [class^="button"] {
            border: none;
            font-size: small;
            background-color: silver;
        }

        .hlogo {
            width: 150px;
            height: 30px;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

    </style>
    <script>

        $(document).ready(function(){
            $(".hlogo").click(function(){
                location.href = "index.html";
            })
        });

    </script>

</head>
<body>

<div id="loginpage1"> <!--class="form-control"는 부트스트랩 사용-->
    <form role="form" id="loginForm" method="post" action="/member/login">
        <input type="text" name="email" id="inputUsername1" class="form-control" placeholder="Email" required>
        <input type="password" name="password" id="inputPassword1" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password" required>
        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
        <div style="padding-top: 15px;">
            <label for="checkIdBox">
                <input class="form-check-input" type="checkbox" name="save_check" value="Y" th:checked="${cookieCheck}" id="checkIdBox">
                아이디 기억하기
            </label>
        </div>
        <input type="submit" id="inputloginsubmit" class="form-control" value="로그인">
    </form>
</div>
<nav id="loginpage2">
    <input type="button" class="button_id" value="GOOGLE" onclick="location.href='/oauth2/authorization/google'">
    |
<!--    <input type="button" class="button_passward" value="NAVER" onclick="location.href='/oauth2/authorization/naver'">-->
<!--    |-->
    <input type="button" class="button_join" value="회원가입" onclick="location.href='/member/new'">
    |
    <input type="button" class="button_join" value="관리자추가" onclick="location.href='/member/new2'"> <!-- 관리자추가 버튼 (삭제예정) -->
</nav>

<script>
    // 페이지 로드 시 실행되는 함수
    window.onload = function() {
        // checkIdBox 쿠키에서 아이디 값을 가져옴
        var username = getCookie("checkIdBox");

        // 가져온 아이디 값을 아이디 입력 필드에 채움
        if (username) {
            document.getElementById("inputUsername1").value = username;
            document.getElementById("checkIdBox").checked = true; // 쿠키가 있으면 체크박스를 체크 상태로 설정
        }
    };

    // 쿠키 값을 가져오는 함수
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById("loginForm").addEventListener("submit", function(event) {
        var checkIdBox = document.getElementById("checkIdBox");
        var username = document.getElementById("inputUsername1").value;
        // 서버로부터 받은 응답
        var responseData = {
            email: username,
            // 세션에 데이터를 더 넣을 순 있는데 로그인시에 저장될 데이터는 email뿐이라 email만 넣어둠
        };

        // 세션 스토리지에 사용자 정보 저장
        sessionStorage.setItem("userInfo", JSON.stringify(responseData));

        // // 다른 곳에서 세션 스토리지 사용자 정보 가져오기 예시
        // var userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
        // console.log(userInfo.email);    // "test@test.com"

        // 아이디 기억하기 쿠키 기능 구현(유효기간 7일로 설정해둠)
        if (checkIdBox.checked) {
            document.cookie = "checkIdBox=" + username + "; expires=" + new Date(Date.now() + 7 * 24 * 60 * 60 * 1000) + "; path=/";
        } else {
            // 체크 해제한 경우 쿠키 삭제
            document.cookie = "checkIdBox=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    });
</script>

</body>
</html>