<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinemacast</title>
    <link href="/assets/css/login.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            let reset = $("#reset");

            //----------- reset ---------------------
            reset.on("click", function (e) {
                e.preventDefault();
                $(this).parent().parent().siblings("form")
                    .find(".input__block").find(".input").val("");
            });
        });
    </script>
</head>
<body>
<div class="container">
    <!-- Heading -->
    <h1>비밀번호 변경</h1>

    <ul class="links">
        <li>
            <a href="#" id="signin"></a>
        </li>
        <li>
            <a href="#" id="signup"></a>
        </li>
        <li>
            <a href="#" id="reset">RESET</a>
        </li>
    </ul>

    <!-- Form -->
    <form action="/member/modify" id="find_email_form" method="post">
        <!-- password1 input -->
        <div class="first-input input__block first-input__block">
            <input aria-describedby="passwordHelpBlock" class="input" id="password1" name="password" placeholder="비밀번호" required
                   type="password"/>
        </div>
        <!-- password2 input -->
        <div class="input__block">
            <input aria-describedby="passwordHelpBlock" class="input" id="password2" name="password2" placeholder="비밀번호를 한번 더 입력해주세요."
                   required type="password"/>
        </div>
        <!-- sign in button -->
        <button class="signin__btn" type="submit">
            변경
        </button>
    </form>
</div>

<footer>
    <p>
        Thank you for watching
    </p>
</footer>

<script>
    $(document).ready(function () {
        $("[type=submit]").on("click", function (e) {
            e.preventDefault();

            const password1 = $("#password1");
            const password2 = $("#password2");

            if (password1.val().length < 1) {
                alert("비밀번호를 입력해주세요.");
                password1.focus();
                return false;
            }

            if (password1.val() !== password2.val()) {
                alert("비밀번호가 서로 다릅니다. 확인해주세요.");
                password2.select();
                return false;
            }

            // 이상없으면 submit 진행
            $("#find_email_form").submit(); // 특정 폼 선택기 사용
        });
    });
</script>

</body>
</html>