<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Cinemacast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/custom.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/nav.css" />
  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<th:block th:fragment="footer">

<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">

      <section class="contact">
        <header>
          <h3>궁금하신 점 있으신가요 ?</h3>
        </header>
        <p>아래 버튼을 클릭하시면 FAQ, 1:1 채팅방, 문의하기로 이동하실 수 있습니다.</p>
        <button class="button" onclick="redirectToServiceCenter()">Customer Service Center</button>
      </section>

    </div>
    <hr />
    <div class="row">
      <div class="col-12">


        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
  <!-- 스크립트 -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- SockJS 클라이언트 라이브러리 비동기 로드 -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>

  <!-- STOMP 클라이언트 라이브러리 비동기 로드 -->
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

  <script>
  function redirectToServiceCenter() {
    window.location.href = "/inquiry";
  }
</script>
</th:block>
</body>
</html>