<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Cinemacast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- Header -->
<div id="header">
    <h1 class="logo" style="font-size: 2em;"><a href="index.html">CINEMACAST</a></h1>

    <!-- info -->
    <div id="info">
        <ul>
            <li><a href="/new">회원가입</a></li>
            <li><a href="login.html">로그인</a></li>
            <li><a href="cart_list.html">장바구니</a></li>
        </ul>
    </div>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li>
                <a href="#">영화</a>
                <ul>
                    <li><a href="movie_list_full.html">영화 전체보기</a></li>
                    <li><a href="movie_list_now.html">현재 상영작</a></li>
                    <li><a href="movie_list_comming.html">상영 예정작</a></li>
                </ul>
            </li>
            <li>
                <a href="#">예매</a>
                <ul>
                    <li><a href="#">예매</a></li>
                    <li><a href="#">상영 시간표</a></li>
                </ul>
            </li>
            <li><a href="snack_list.html">스낵 스토어</a></li>
            <li><a href="event_list.html">이벤트</a></li>
            <li><a href="notice_list.html">공지사항</a></li>
        </ul>
    </nav>

</div>
</body>
</th:block>
</html>