<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinemacast</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/custom.css"/>
    <link rel="stylesheet" href="/assets/css/custom_player.css"/>
    <link rel="stylesheet" href="/assets/css/nav.css"/>
    <meta property="og:title" content="${movie.title}">
    <meta property="og:description" id="og-description" content="">
    <meta property="og:url" content="http://localhost:8080/movies/${movieId}">
    <meta property="og:image" content="https://image.tmdb.org/t/p/original' + ${movie.posterPath}}">
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
    <!--    댓글-->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <style>
        .fav-icon {
            width: 33px !important;
            height: 30px !important;
            cursor: pointer;
            transition: background-color 0.3s; /* 부드러운 색상 전환 효과 */
        }

        .favorite-container {
            display: flex;
            justify-content: center;
        }

        .favorited {
            filter: grayscale(0%) sepia(100%) saturate(1000%) hue-rotate(-50deg) drop-shadow(0 0 3px rgba(255, 0, 0, 0.5)); /* 빨간색으로 변환 */
        }

        /* 리액션 관련 css 시작 */
        .active {
            width: 50px !important;
            height: 50px !important;
            filter: drop-shadow(0 0 3px #597aff) drop-shadow(0 0 4px #597aff) drop-shadow(0 0 5px #597aff); /* 이미지 부분만 그림자 적용가능하게함 (필터로) */
        }

        #likeButton {
            width: 50px !important;
            height: 50px !important;
        }

        #dislikeButton {
            width: 50px !important;
            height: 50px !important;
        }

        #sadButton {
            width: 50px !important;
            height: 50px !important;
        }

        #funnyButton {
            width: 50px !important;
            height: 50px !important;
        }

        #scaryButton {
            width: 50px !important;
            height: 50px !important;
        }

        .reaction-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .reaction-item {
            text-align: center;
            margin: 0 20px; /* 각 항목 사이의 간격 조절 */
            width: 95px;
        }

        .reaction-item img {
            width: 50px; /* 이미지 너비 설정 */
            height: 50px; /* 이미지 높이 설정 */
            cursor: pointer;
        }

        .reaction-item p {
            text-align: center;
            font-size: 13px;
            margin: 0; /* 설명과 카운트 간격 조절 */
        }

        /* 리액션 관련 css 끝 */

        .hide {
            display: none;
        }

        .still-cut-article img {
            max-width: 100%;
            max-height: 100%;
        }

        /* 이미지클릭시 띄우는 모달 */
        .modal {
            display: none;
            position: fixed;
            z-index: 9999999;
            padding-top: 60px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 100%;
            max-width: 1200px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 비디오 모달 관련 CSS */
        .video-modal-content {
            width: 80%; /* 모달 너비, 필요에 따라 조정 */
            max-width: 640px; /* 최대 너비, 필요에 따라 조정 */
        }

        #videoFrame {
            width: 100%; /* iframe의 너비를 부모 요소에 맞춤 */
            height: 720px; /* 높이, 필요에 따라 조정 */
        }


        .video-modal-content {
            width: 100%; /* 영상 크기 조정 */
            max-width: 1280px; /* 최대 크기 설정 */
            margin: auto; /* 수평 중앙 정렬 */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* 화면 중앙 정렬 */
            z-index: 1000; /* 필요에 따라 조정 */
        }


    </style>
</head>
<body class="right-sidebar is-preload">
<th:block layout:fragment="content">
    <div id="page-wrapper">

        <header data-include-path="./header.html"></header>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container" th:each="movie, iterStat : ${movieInfos}">
                <input type="hidden" id="movieId" th:value="${movie.id}">
                <div class="row">
                    <div class="col-12-mobile" id="content">
                        <article id="main">
                            <div class="movie_info_background">
                                <header id="get_info">
                                    <a href="#" class="image featured">
                                        <img th:if="${#strings.length(movie.id) == 10}"
                                             th:src="@{|/${movie.posterPath}|}" alt="영화포스터"
                                             onclick="openModal(this.getAttribute('src'))"
                                             style="width: 400px; height: 600px;"
                                        />
                                        <img th:unless="${#strings.length(movie.id) == 10}"
                                             th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.posterPath}}" alt="영화포스터"
                                             th:onclick="'openModal(\'' + @{'https://image.tmdb.org/t/p/original' + ${movie.posterPath}} + '\')'"
                                             style="width: 400px; height: 600px;"
                                        />
                                    </a>
                                    <div class="movie_info">
                                        <header class="info_header">
                                            <h2 th:text="${movie.title}" class="movie_title"></h2>
                                            <a href="#" class="button" style="height: 3em;">예매하기</a>
                                            <a id="videoModalBtn" th:data-video-id="${movie.video}" href="#"
                                               class="button" style="height: 3em;">트레일러 보기</a>
                                        </header>
                                        <br>
                                        <!--<div class="movie_detail">-->
                                        <div class="movie_detail">
                                            <span th:text="${movie.releaseDate}">releasedate</span>
                                            <span th:text="${#strings.arrayJoin(movie.genres, ', ')}"></span>
                                            <span th:text="${movie.runtime} + '분'">runtime</span>
                                            <img id="certification-image" src="" alt="영화심의등급 이미지">
                                            <span id="certification"
                                                  th:text="${movie.certifications}">certification</span>
                                        </div>


                                        <p th:text="${movie.overview}">
                                            ~ overview ~
                                        </p>


                                        <div class="reaction-container">
                                            <div class="reaction-item">
                                                <img id="likeButton" src="/images/like.png" alt="재밌어요"
                                                     onclick="react('LIKE')">
                                                <p>재미있어요</p>
                                                <span class="count like-count">0</span>
                                            </div>
                                            <div class="reaction-item">
                                                <img id="dislikeButton" src="/images/dislike.png" alt="재미없어요"
                                                     onclick="react('DISLIKE')">
                                                <p>재미없어요</p>
                                                <span class="count dislike-count">0</span>
                                            </div>
                                            <div class="reaction-item">
                                                <img id="sadButton" src="/images/sad.png" alt="슬퍼요"
                                                     onclick="react('SAD')">
                                                <p>슬퍼요</p>
                                                <span class="count sad-count">0</span>
                                            </div>
                                            <div class="reaction-item">
                                                <img id="funnyButton" src="/images/funny.png" alt="웃겨요"
                                                     onclick="react('FUNNY')">
                                                <p>웃겨요</p>
                                                <span class="count funny-count">0</span>
                                            </div>
                                            <div class="reaction-item">
                                                <img id="scaryButton" src="/images/scary.png" alt="무서워요"
                                                     onclick="react('SCARY')">
                                                <p>무서워요</p>
                                                <span class="count scary-count">0</span>
                                            </div>
                                        </div>


                                        <div class="movie_data_box">
                                            <div class="movie_data">
                                                <h4>누적 관객수</h4>
                                                <p>cnv</p>
                                            </div>
                                            <div class="movie_data">
                                                <h4>인기도</h4>
                                                <p th:text="${movie.popularity}">popularity (%)</p>
                                            </div>
                                            <div class="movie_data_averageRating">
                                                <h4>평점</h4>
                                                <!--                                        <p th:text="${movie.voteAverage}">vote rating</p>-->
                                            </div>
                                            <!--찜하기 구현할것~ (컨트롤러에 연결만하면됨)-->
                                            <div class="movie_data">
                                                <h4>찜하기</h4>
                                                <div class="favorite-container">
                                                    <img id="favoriteButton" class="fav-icon"
                                                         src="/images/heart%20icon.png" alt="찜하기(좋아요)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <h3>출연진</h3>
                            <div id="movie-info">
                            </div>
                        </article>
                    </div>
                </div>

                <section class="movie_etc">
                    <div class="etc_btn">
                        <button type="button" class="button stillcut_btn clicked">스틸컷</button>
                        <!-- 수정 컨펌 필요 -->
                        <button type="button" class="button reviews_btn">리뷰</button>
                    </div>
                </section>

                <!-- 비디오 트레일러 모달 -->
                <div id="videoModal" class="modal">
                    <div class="video-modal-content">
                        <span class="close">&times;</span>
                        <iframe id="videoFrame" width="560" height="315" src="" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <!-- 스틸컷 for each (반복) -->
                <div id="stillcut" th:each="movie, iterStat : ${movieInfos}">
                    <div class="row">
                        <div th:each="stillCutPath, iterStat : ${movie.stillCutPaths}"
                             th:class="${iterStat.count > 4} ? 'hide stillCut' : 'stillCut'">
                            <article class="col-4 col-12-mobile special still-cut-article">
                                <a href="#" class="image featured">
                                    <img th:if="${#strings.length(movie.id) == 10}"
                                         th:src="@{|/${stillCutPath}|}" alt="스틸컷"
                                         onclick="openModal(this.getAttribute('src'))"
                                    />
                                    <img th:unless="${#strings.length(movie.id) == 10}"
                                         th:src="@{'https://image.tmdb.org/t/p/original/' + ${stillCutPath}}" alt="스틸컷"
                                         onclick="openModal(this.getAttribute('src'))"
                                    />
                                </a>
                            </article>
                        </div>
                    </div>
                    <p id="showMore" style="cursor: pointer;"><a>more</a></p>
                    <p id="showLess" style="cursor: pointer; display:none;"><a>접기</a></p>
                </div>
                <div id="reviews" style="display: none">
                    <button onclick="openReviewModal()" class="modal_open">관람평 작성하기</button>
                    <div class="row">
                        <table class="default" id="reviews-table">
                            <!-- 댓글이 여기에 추가될 것입니다 -->
                        </table>
                        <!--스틸컷 더보기 접기-->
                    </div>
                    <p id="showMore_review" style="cursor: pointer;"><a>more</a></p>
                    <p id="showLess_review" style="cursor: pointer; display:none;"><a>접기</a></p>
                </div>
                <!-- 이미지 상세보기 모달 -->
                <div id="myModal" class="modal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>
                <div class="btn_box">
                    <a href="javascript:shareMessage()">
                        <button type="button" class="kakao_btn">
                            <img src="/img/front/icon/kakao_sh.png" alt="카카오톡 공유">
                        </button>
                    </a>
                    <span>카카오톡 공유</span>
                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

    <!--              댓글         ------------------             -->

    <script th:inline="javascript">

        const movieId = $('#movieId').val();

        // credits api 제작진 사진
        const options = {
            method: 'GET',
            headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3N2UzMWU5NWVjZmE3ZjBlODY5YTE3NmQwMjU0YWQwMiIsInN1YiI6IjY2NDJiMWM1ZTJlZjM4N2Y1MjM1OTNjZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.hBVsW7eVrC2M3FdWc2OJEAWq0h4v-NiiM2YEDQoy7OU'
            }
        };

        async function fetchMovieCredits(movieId) {

            try {
                const apiKey = '547e2cd4d0e26e68fb907dafef4f90ac';
                const url = `https://api.themoviedb.org/3/movie/${movieId}/credits?language=ko-KR&api_key=${apiKey}`;
                const response = await fetch(url);
                const data = await response.json();

                // 영화 정보를 담을 요소 생성
                const movieInfoDiv = document.getElementById('movie-info');
                movieInfoDiv.style.display = 'flex'; // Flexbox 레이아웃 적용
                movieInfoDiv.style.flexWrap = 'wrap'; // 요소들이 넘치면 다음 줄로 넘김

                // 영화 관람 등급
                const certificationElement = document.getElementById('certification');
                const certificationValue = certificationElement.textContent;
                const imgElement = document.getElementById('certification-image');

                switch (certificationValue) {
                    case '12세 이상 관람가':
                        imgElement.src = '/images/ratings/12.png';
                        break;
                    case '15세 이상 관람가':
                        imgElement.src = '/images/ratings/15.png';
                        break;
                    case '19':
                        certificationElement.textContent = '청소년 관람불가';
                        imgElement.src = '/images/ratings/18.png';
                        break;
                    default:
                        imgElement.src = '/images/ratings/all.svg';
                }

                // 감독 정보 출력 (이미지 포함)
                const director = data.crew.find(person => person.job === 'Director');
                if (director) {
                    const directorDiv = createPersonDiv(director.name, director.profile_path, true);
                    movieInfoDiv.appendChild(directorDiv); // directorDiv를 movieInfoDiv에 추가
                }

                // 출연진 정보 출력 (이미지 포함)
                data.cast.slice(0, 5).forEach(cast => {
                    const castDiv = createPersonDiv(cast.name, cast.profile_path);
                    movieInfoDiv.appendChild(castDiv); // castDiv를 movieInfoDiv에 추가
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }

        fetchMovieCredits(movieId);

        // 인물 정보와 이미지를 담은 div 생성 함수
        function createPersonDiv(name, profilePath, isDirector = false) {
            const personDiv = document.createElement('div'); // 새로운 div 생성
            personDiv.style.margin = '8px'; // 간격 설정
            personDiv.style.width = '200px';
            personDiv.style.height = '300px';

            const p = document.createElement('p');
            p.innerHTML = isDirector ? `<p>감독 : ${name}</p>` : `<p>${name}</p>`;
            p.style.fontSize = '1em'; // 글자 크기 작게 설정

            const img = document.createElement('img');
            img.src = profilePath ? `https://image.tmdb.org/t/p/w200${profilePath}` : '/images/img_not_ready2.png';
            img.alt = `${name}'s profile image`;
            img.style.width = '100%';
            img.style.height = 'auto'; // 높이를 자동으로 설정

            personDiv.appendChild(img);
            personDiv.appendChild(p);

            return personDiv;
        }

        const api = {
            method: 'GET',
            headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3N2UzMWU5NWVjZmE3ZjBlODY5YTE3NmQwMjU0YWQwMiIsInN1YiI6IjY2NDJiMWM1ZTJlZjM4N2Y1MjM1OTNjZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.hBVsW7eVrC2M3FdWc2OJEAWq0h4v-NiiM2YEDQoy7OU'
            }
        };

        // 스틸컷 더보기(more), 접기 클릭 함수
        // 현재 표시된 항목의 수를 추적하는 변수
        var visibleCount = 4; // 처음에 보이는 항목 수
        var increment = 8; // 한 번에 표시할 추가 항목 수

        document.getElementById("showMore").addEventListener("click", function () {
            var stillCuts = document.querySelectorAll(".stillCut");
            var newVisibleCount = Math.min(visibleCount + increment, stillCuts.length);

            for (var i = visibleCount; i < newVisibleCount; i++) {
                stillCuts[i].classList.remove("hide");
            }

            visibleCount = newVisibleCount; // 업데이트된 표시된 항목의 수

            // "접기" 버튼을 항상 보여줌
            document.getElementById("showLess").style.display = 'block';

            // 모든 항목이 표시되었는지 확인
            if (visibleCount >= stillCuts.length) {
                // "더보기"를 숨김
                this.style.display = 'none';
            } else {
                // 아직 표시되지 않은 항목이 있다면 "더보기"를 계속 보여줌
                this.style.display = 'block';
            }
        });

        document.getElementById("showLess").addEventListener("click", function () {
            var stillCuts = document.querySelectorAll(".stillCut");
            for (var i = 0; i < stillCuts.length; i++) {
                if (i > 3) { // 처음 4개를 제외한 나머지를 숨깁니다.
                    stillCuts[i].classList.add("hide");
                }
            }
            visibleCount = 4; // "접기" 후 처음 표시된 항목의 수로 리셋
            this.style.display = 'none'; // "접기"를 숨깁니다.
            document.getElementById("showMore").style.display = 'block'; // "더보기"가 다시 보여질 상황을 위해
        });


        // 이미지 클릭시 원본크기로 볼수있게 띄우는 모달 관련 변수 및 함수들
        var currentScrollPosition = 0;

        function openModal(imageSrc) {

            var header = document.getElementById("header")
            header.style.display = "hide"
            currentScrollPosition = window.scrollY;
            document.body.style.overflow = 'hide';
            var modal = document.getElementById("myModal");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = imageSrc;
        }

        function closeModal() {
            var header = document.getElementById("header");
            header.style.display = '';
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            document.body.style.overflow = '';
            // 자꾸 모달 닫을때 포스터 이미지 크기가 바껴서
            // 걍 모달 함수에서 닫을때 포스터이미지 크기를 강제로 설정해서 크기변동이 없는것처럼 보이게함.
            document.querySelector('.image.featured img').style.width = '400px';
            document.querySelector('.image.featured img').style.height = '600px';

            window.scrollTo(0, currentScrollPosition);
        }

        /*--------- 이미지 상세보기 모달 끝 --------*/

        /* 유튜브 트레일러 관련 모달 시작 */

        // 자바스크립트에서 타임리프를 이용한 변수 가져오기위한 코드 포함
        document.addEventListener('DOMContentLoaded', function () {
            var openModalButton = document.getElementById('videoModalBtn');
            if (openModalButton) {
                openModalButton.addEventListener('click', function () {
                    var modal = document.getElementById('videoModal');
                    var videoId = openModalButton.getAttribute('data-video-id');
                    var videoFrame = document.getElementById('videoFrame');

                    var preparingImage = videoFrame.parentNode.querySelector('img');
                    if (preparingImage) {
                        preparingImage.remove();
                    }

                    if (videoId == null) {
                        // 비디오 ID가 없는 경우, 준비중 이미지 표시
                        videoFrame.style.display = 'none';
                        var preparingImage = document.createElement('img');
                        preparingImage.src = '/images/video_not_ready.jpg'; // 준비중 이미지 URL
                        preparingImage.style.width = '100%';
                        preparingImage.style.height = '100%';
                        videoFrame.parentNode.appendChild(preparingImage);
                    } else {
                        // 비디오 ID가 있는 경우, 비디오 표시
                        var videoUrl = 'https://www.youtube.com/embed/' + videoId;
                        videoFrame.src = videoUrl;
                        videoFrame.style.display = 'block';
                    }

                    modal.style.display = "flex"; // flex로 변경
                    document.body.style.overflow = 'hide'; // 스크롤 막기
                });

                document.getElementsByClassName('close')[0].addEventListener('click', function () {
                    var modal = document.getElementById('videoModal');
                    modal.style.display = "none";
                    document.getElementById('videoFrame').src = ""; // 비디오 중지
                    document.body.style.overflow = ''; // 스크롤 복원
                });
            }
        });

        /* 유튜브 트레일러 관련 모달 끝 */

        // 버튼 클릭 시 스틸컷 또는 리뷰 테이블
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('img').forEach(function (img) {
                img.addEventListener('click', function () {
                    this.style.width = (this.style.width === '100%') ? 'auto' : '100%';
                });
            });

            var stillCutBtn = document.querySelector(".stillcut_btn");
            var reviewsBtn = document.querySelector(".reviews_btn");
            var stillCutDiv = document.getElementById("stillcut");
            var reviewsDiv = document.getElementById("reviews");

            stillCutBtn.addEventListener("click", function () {
                stillCutDiv.style.display = "block";
                reviewsDiv.style.display = "none";
                stillCutBtn.classList.add("clicked");
                reviewsBtn.classList.remove("clicked");
            });

            reviewsBtn.addEventListener("click", function () {
                stillCutDiv.style.display = "none";
                reviewsDiv.style.display = "block";
                reviewsBtn.classList.add("clicked");
                stillCutBtn.classList.remove("clicked");
            });
        });


        // 리뷰 작성 모달을 팝업 창으로 열기
        function openReviewModal() {
            // 댓글 작성 여부 확인
            $.ajax({
                url: `/movies/hasCommented/${movieId}`,
                method: 'GET',
                dataType: 'json',
                success: function (hasCommented, textStatus, xhr) {
                    console.log("hasCommented 값:", hasCommented);

                    if (hasCommented) {
                        alert("이미 댓글을 작성하셨습니다.");
                    } else {
                        var reviewWindow = window.open('/review/' + movieId, 'ReviewModal', 'width=600,height=400');
                        var checkWindowClosed = setInterval(function () {
                            if (reviewWindow.closed) {
                                clearInterval(checkWindowClosed);
                                loadComments();
                            }
                        }, 500); // 0.5초마다 상태 확인
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        alert("로그인해주세요.");
                    } else {
                        console.error("댓글 작성 여부를 확인하는 중 오류가 발생했습니다:", error);

                    }
                }
            });
        }

        //            댓글리스트    --------------------------------------------------
        const loadComments = () => {
            const emojiMap = {
                1: '😡',
                2: '😠',
                3: '😐',
                4: '😊',
                5: '😍'
            };

            $.ajax({
                url: `/movies/` + movieId,
                method: 'GET',
                dataType: 'json',
                success: (data) => {
                    console.log(data)
                    //평점
                    const movieDataSection = $('.movie_data_averageRating');
                    movieDataSection.html(`<h4>평점</h4><p>${data.averageRating !== null ? data.averageRating : 0}</p>`);
                    //댓글정보
                    const reviewsSection = $('#reviews-table');
                    reviewsSection.empty();
                    data.comments.forEach((comment) => {
                        appendReviewRow(reviewsSection, comment, emojiMap);
                    });
                },
                error: (xhr, status, error) => {
                    console.error("댓글을 불러오지 못했습니다:", error);
                    $('#comments').append(`<div class="error"><p>댓글을 불러오는 중 오류가 발생했습니다. 나중에 다시 시도해주세요.</p></div>`);
                }
            });

        };

        loadComments();

        //이메일 처리
        function maskEmail(email) {
            const atIndex = email.indexOf('@');
            let emailName = email.slice(0, atIndex);
            const emailDomain = email.slice(atIndex + 1);

            if (emailName.length > 3) {
                emailName = `${emailName.slice(0, -3)}***`;
            } else {
                emailName = '***';
            }

            return `${emailName}@${emailDomain}`;
        }

        function generateStars(grade) {
            return '★'.repeat(grade);
        }

        //댓글 수만큼 반복생성
        function appendReviewRow(reviewsSection, comment, emojiMap) {
            const maskedEmail = maskEmail(comment.memberEmail);
            const stars = generateStars(comment.grade);
            const emoji = emojiMap[comment.grade] || '';
            const isOwner = userEmail === comment.memberEmail;
            const reviewRow = `

        <tr>
            <td>
                <div>
                    <span>${emoji}</span>${stars}
                    <input type="radio" id="${comment.grade}-stars" value="${comment.grade}" checked="checked" />
                    <span>${new Date().toISOString().slice(0, 10)}</span>
                </div>
                <div style="display: flex; align-items: center;">
                    <h4>${maskedEmail}</h4><span style="margin-left: 40px">${comment.comment}</span>
                      ${isOwner ? `<button class="delete-btn" data-comment-id="${comment.cno}" style="margin-left: 20px;">삭제</button>` : ''}
                </div>
            </td>
        </tr>
    `;
            reviewsSection.append(reviewRow);
        }

        // 찜하기 관련 함수 시작 //


        $(document).ready(function () {

            var isFavorited = false; // 현재 사용자의 찜하기(좋아요) 상태를 저장할 변수임


            // 현재 찜하기 상태를 가져오기 위해 API 호출
            $.ajax({
                url: '/favorites/check/' + userEmail + '/' + movieId,
                type: 'GET',
                data: {
                    userEmail: userEmail,
                    movieId: movieId
                },
                success: function (response) {
                    // 응답에서 현재 리액션 상태를 받아와 버튼 상태를 업데이트
                    isFavorited = response.isFavorited;
                    console.log("현재 리액션 상태 가져오기 성공! 현재상태 = " + isFavorited)
                    updateFavoriteButton(isFavorited)
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching current reaction:', status, error);
                }
            });


            $("#favoriteButton").click(function () {

                checkAnonymousUser();

                if (isFavorited === false) {
                    // 좋아요 요청 (POST 요청)
                    $.ajax({
                        url: '/favorites/' + userEmail + '/' + movieId,
                        type: 'POST',
                        success: function (response) {
                            console.log("좋아요 등록성공")
                            isFavorited = true;
                            updateFavoriteButton(isFavorited)
                        },
                        error: function (xhr, status, error) {
                            console.error("좋아요 등록 실패", error)
                        }
                    });
                } else {
                    // 좋아요 삭제요청 (DELETE 요청)
                    $.ajax({
                        url: '/favorites/' + userEmail + '/' + movieId,
                        type: 'DELETE',
                        success: function (response) {
                            console.log("좋아요 삭제 성공")
                            isFavorited = false;
                            updateFavoriteButton(isFavorited)
                        },
                        error: function (xhr, status, error) {
                            console.error("좋아요 등록 실패", error)
                        }
                    });
                }
            });

            // 버튼상태 함수 (임시!!!)
            function updateFavoriteButton(isFavorited) {
                var favoriteButton = $('#favoriteButton');
                if (isFavorited) {
                    favoriteButton.addClass('favorited'); // 찜한 상태 클래스 추가
                } else {
                    favoriteButton.removeClass('favorited'); // 찜한 상태 클래스 제거
                }
            }


        });


        /* 좋아요 싫어요 슬퍼요 등등 리액션 관련 함수 시작 */

        var currentReactions = {}; // 사용자의 현재 리액션 선택을 추적하는 객체

        var userEmail = [[${userEmail}]];

        var isRequestPending = false; // 비동기 요청 상태를 추적하는 플래그

        var userCurrentReaction = null; // 현재 사용자의 리액션 상태를 저장할 변수

        // 비회원 체크
        function checkAnonymousUser() {
            if (!userEmail || userEmail === 'anonymousUser') {
                alert('로그인이 필요합니다.');
                return true;
            }
            return false;
        }

        async function addReaction(userEmail, movieId, reactionType) {

            if (isRequestPending) {
                return; // 비동기 요청 중이면 클릭을 무시
            }
            isRequestPending = true; // 비동기 요청 시작

            try {
                if (!(movieId in currentReactions)) {
                    currentReactions[movieId] = {};
                }
                var currentMemberReaction = currentReactions[movieId][userEmail];

                if (currentMemberReaction === reactionType) {
                    await removeReaction(userEmail, movieId, reactionType);
                    delete currentReactions[movieId][userEmail];
                } else {
                    if (currentMemberReaction) {
                        await removeReaction(userEmail, movieId, currentMemberReaction);
                    }
                    await sendReaction(userEmail, movieId, reactionType);
                    currentReactions[movieId][userEmail] = reactionType;
                }
            } catch (error) {
                console.error('Error processing reaction:', error);
            } finally {
                isRequestPending = false;
            }
        }

        function sendReaction(userEmail, movieId, reactionType) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        userEmail: userEmail,
                        movieId: movieId,
                        reactionType: reactionType
                    }),
                    success: function (response) {
                        console.log('Response:', response);
                        updateReactionCount(movieId);
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error adding reaction:', status, error);
                        reject(error);
                    }
                });
            });
        }

        function updateReactionCount(movieId) {
            $.ajax({
                url: '/movie/' + movieId,
                type: 'GET',
                success: function (response) {
                    $('#likeCount_' + movieId).text(response.likeCount);
                    $('#dislikeCount_' + movieId).text(response.dislikeCount);
                    $('#sadCount_' + movieId).text(response.sadCount);
                    $('#funnyCount_' + movieId).text(response.funnyCount);
                    $('#scaryCount_' + movieId).text(response.scaryCount);
                },
                error: function (xhr, status, error) {
                    console.error("Error updating reaction count", error);
                }
            });
        }

        // 리액션 삭제
        function removeReaction(userEmail, movieId, reactionType) {
            var data = {
                userEmail: userEmail,
                movieId: movieId,
                reactionType: reactionType
            };

            // movieId(영화식별정보)가 없거나 userEmail(회원정보,로그인정보)가 없으면 return
            // 버튼연타시 ajax 요청 꼬이는거 방지할려고 추가함
            if (!userEmail || !movieId) {
                console.error('Error removing reaction: userEmail or movieId is missing');
                return;
            }

            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '/remove',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log('Response:', response);
                        updateReactionCount(movieId);
                        if (currentReactions[movieId]) {
                            delete currentReactions[movieId][userEmail];
                            if (Object.keys(currentReactions[movieId]).length === 0) {
                                delete currentReactions[movieId];
                            }
                        }
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error removing reaction:', status, error);
                        console.log('XHR Object:', xhr);
                        console.log('Response Text:', xhr.responseText);
                        reject(error);
                    }
                });
            });
        }

        // 사용자의 현재 리액션 상태를 가져오는 함수
        // 페이지 로드시 바로 발동되게 해놓음
        // 현재 리액션상태를 가져와서 새로고침하면 중복으로 누를수있던부분 해결
        function initializeReactions() {
            // 현재 사용자와 영화 ID를 설정합니다. 이 부분은 사용자에 맞게 변경해야 합니다.
            // 현재 리액션 상태를 가져오기 위해 API 호출
            $.ajax({
                url: '/getCurrentReaction',
                type: 'GET',
                data: {
                    userEmail: userEmail,
                    movieId: movieId
                },
                success: function (response) {
                    // 응답에서 현재 리액션 상태를 받아와 버튼 상태를 업데이트
                    userCurrentReaction = response.reactionType;
                    updateButtonState()
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching current reaction:', status, error);
                }
            });
        }

        // 버튼 상태 업데이트 함수 추가
        function updateButtonState() { // 새로 추가된 함수
            // 모든 버튼에서 active 클래스를 제거
            $('#likeButton, #dislikeButton, #sadButton, #funnyButton, #scaryButton').removeClass('active');

            // 현재 리액션에 해당하는 버튼에 active 클래스 추가
            // active 클래스 활용해서 선택한버튼에만 css를 추가해 꾸밀수있음
            if (userCurrentReaction === 'LIKE') {
                $('#likeButton').addClass('active');
            } else if (userCurrentReaction === 'DISLIKE') {
                $('#dislikeButton').addClass('active');
            } else if (userCurrentReaction === 'SAD') {
                $('#sadButton').addClass('active');
            } else if (userCurrentReaction === 'FUNNY') {
                $('#funnyButton').addClass('active');
            } else if (userCurrentReaction === 'SCARY') {
                $('#scaryButton').addClass('active');
            }
        }

        function react(reactionType) {

            // 비회원 체크
            if (checkAnonymousUser()) {
                return;
            }
            // 이전에 선택한 리액션을 서버에서 삭제
            if (userCurrentReaction === reactionType) {
                removeReaction(userEmail, movieId, reactionType)
                userCurrentReaction = null;// 이전 리액션 상태를 초기화
                updateButtonState()
                return;
            } else if (userCurrentReaction) {
                removeReaction(userEmail, movieId, reactionType);
                updateButtonState()
            }
            // 새로운 리액션을 추가하고 클라이언트 측의 리액션 상태 업데이트
            addReaction(userEmail, movieId, reactionType)
            userCurrentReaction = reactionType; // 새로운 리액션 상태 설정
            updateButtonState()
        }

        function updateMetaDescription() {
            var detailElement = document.querySelector('.movie_detail');
            if (detailElement) {
                var detailText = detailElement.innerText;
                var metaDescription = document.getElementById('og-description');
                if (metaDescription) {
                    metaDescription.setAttribute('content', detailText);
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {

            updateMetaDescription();
            // Kakao SDK 초기화
            Kakao.init('3d074cbbda365535b831c90baead22c2'); // 여기에 실제 Kakao 앱 키를 입력하세요.

            console.log("movieId = " + movieId);

            var likeCountSpans = document.querySelectorAll('.like-count');
            var dislikeCountSpans = document.querySelectorAll('.dislike-count');
            var sadCountSpans = document.querySelectorAll('.sad-count');
            var funnyCountSpans = document.querySelectorAll('.funny-count');
            var scaryCountSpans = document.querySelectorAll('.scary-count');

            likeCountSpans.forEach(span => {
                span.id = 'likeCount_' + movieId;
            });
            dislikeCountSpans.forEach(span => {
                span.id = 'dislikeCount_' + movieId;
            });
            sadCountSpans.forEach(span => {
                span.id = 'sadCount_' + movieId;
            });
            funnyCountSpans.forEach(span => {
                span.id = 'funnyCount_' + movieId;
            });
            scaryCountSpans.forEach(span => {
                span.id = 'scaryCount_' + movieId;
            });
            updateReactionCount(movieId);
            initializeReactions();
        });

        $(document).on('click', '.delete-btn', function () {

            const cno = $(this).data('comment-id');
            console.log(cno);
            deleteComment(cno);
        });

        function deleteComment(cno) {
            $.ajax({
                url: `/movies/delete/${cno}`,
                method: 'DELETE',
                success: function (response) {
                    alert("댓글이 삭제되었습니다.");
                    loadComments(); // 댓글 목록 다시 로드
                },
                error: function (xhr, status, error) {
                    console.error("댓글 삭제 중 오류가 발생했습니다:", error);
                    alert("댓글을 삭제하는 중 오류가 발생했습니다. 나중에 다시 시도해주세요.");
                }
            });
        }

        // Kakao 공유 함수
        function shareMessage() {
            var currentUrl = window.location.href;
            var urlSegments = currentUrl.split('/');
            var movieId = urlSegments[urlSegments.length - 1];

            var titleElement = document.querySelector('.movie_title');
            var detailElement = document.querySelector('.movie_detail');
            var imageElement = document.querySelector('.featured img');

            if (titleElement && detailElement && imageElement) {
                var title = titleElement.innerText;
                var detail = detailElement.innerText;
                var imageUrl = imageElement.src;

                Kakao.Link.sendDefault({
                    objectType: 'feed',
                    content: {
                        title: title, // 이벤트 제목
                        description: detail, // 이벤트 상세 내용
                        imageUrl: imageUrl, // 이벤트 이미지 URL
                        link: {
                            mobileWebUrl: `http://localhost:8080/movies/${movieId}`, // 동적 이벤트 ID를 포함한 URL
                            webUrl: `http://localhost:8080/movies/${movieId}`
                        }
                    }
                });
            } else {
                console.error('필요한 요소를 찾을 수 없습니다.');
            }
        }
    </script>
</th:block>
</body>
</html>