<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <!-- SockJS 클라이언트 라이브러리 비동기 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js" async></script>

    <!-- STOMP 클라이언트 라이브러리 비동기 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js" async></script>

    <!-- JavaScript 코드를 인라인으로 작성 (Thymeleaf 사용) -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userEmail = /*[[${userEmail}]]*/ 'default@example.com'; // Thymeleaf를 통해 서버에서 userEmail을 전달받거나 기본값 설정
        /*]]>*/
        var chatRoomId = null;
        var chatRoomTitle = null;
        var recipient = null;  // 수신자 이메일을 고정
        var stompClient = null; // STOMP 클라이언트 변수 선언
        var typingTimeout = null;
        var TYPING_DELAY = 3000; // 타이핑 상태 업데이트를 위한 딜레이 시간 (3초)
        var typingIndicatorSent = false; // 타이핑 상태가 이미 전송되었는지 여부를 저장하는 변수var roomId = null;
        var status = null;

        // WebSocket 연결 함수
        function connect() {
            var socket = new SockJS('/ws'); // SockJS를 사용하여 '/ws' 엔드포인트에 연결
            stompClient = Stomp.over(socket); // STOMP 프로토콜을 사용하여 SockJS 소켓을 Wrapping
            stompClient.connect({}, function (frame) {

                // 타이핑 이벤트를 감지하여 서버로 전송
                document.getElementById('message').addEventListener('input', handleTypingEvent);

                console.log('Connected: ' + frame); // 연결 성공 시 콘솔에 로그 출력

                // 특정 사용자 큐에 구독 (개인 메시지 수신)
                stompClient.subscribe('/user/queue/private/' + chatRoomId, function (message) {

                    var parsedMessage = JSON.parse(message.body);
                    console.log("Message type:", typeof parsedMessage.type);
                    // 메시지 타입에 따른 처리
                    if (parsedMessage.status === 'inactive') {
                        console.log("대화종료메세지오기전에")
                        // 대화 종료 메시지 처리
                        showMessage(parsedMessage.content);
                        // 추가적인 처리 (예: 대화 종료 후 UI 업데이트 등)
                        showMessage('다른 문의가 있으면 카테고리를 선택해주세요.');
                        document.getElementById('categoryButtons').style.display = 'block';
                    } else if (parsedMessage.typing === "typing") {
                        console.log("상대방이 타이핑 중입니다.");

                        // 상대방이 타이핑 중임을 표시하는 UI 업데이트 등을 수행
                        showTypingIndicator(parsedMessage.typing === "not_typing");
                    } else if (parsedMessage.typing === "not_typing") {
                        hideTypingIndicator();
                    } else {
                        // 일반 메시지 처리
                        showMessage(parsedMessage.content);
                    }
                });
            });
        }

        // 타이핑 이벤트를 처리하는 함수
        function handleTypingEvent() {
            if (!typingIndicatorSent) {
                const type = "typing";
                sendTypingIndicator(type); // 처음 입력 시 타이핑 상태 전송
                typingIndicatorSent = true;
            }

            clearTimeout(typingTimeout); // 기존 타이머 제거

            typingTimeout = setTimeout(function () {

                const type = "not_typing";
                sendTypingIndicator(type); // 사용자가 일정 시간 입력을 멈추면 타이핑 상태 전송
                typingIndicatorSent = false; // 타이핑 상태 초기화
            }, TYPING_DELAY);
        }

        // 타이핑 인디케이터를 서버로 전송하는 함수
        function sendTypingIndicator(type) {
            var typingIndicatorDTO = {
                sender: userEmail,
                recipient: recipient,
                typing: type
            };
            stompClient.send("/app/chat/typing", {}, JSON.stringify(typingIndicatorDTO));
        }

        // 메시지 전송 함수
        function sendMessage() {
            var messageContent = document.getElementById('message').value; // 입력된 메시지 내용 가져오기
            console.log("메세지전송의 ChatRoomId" + chatRoomId)
            console.log("메세지전송의 recipient" + recipient)
            if (messageContent) { // 메시지 내용과 제목이 있을 때만 전송
                var message = {
                    chatRoomId: chatRoomId, //챗룸번호
                    sender: userEmail, // 발신자 이메일
                    recipient: recipient, // 수신자 이메일
                    content: messageContent, // 메시지 내용
                    chatRoomTitle: chatRoomTitle, // 메시지 제목 (카테고리)
                    status: "active"
                };
                console.log("Sending message:", message); // 메시지를 전송하기 전에 콘솔에 로그 출력
                stompClient.send("/app/chat/private" , {}, JSON.stringify(message)); // STOMP를 통해 서버로 메시지 전송
                showMessage('나: ' + messageContent); // 전송한 메시지를 화면에 표시
                document.getElementById('message').value = ''; // 입력 필드를 비움

            }
        }

        //메세지 표현
        function showMessage(message) {
            var messages = document.getElementById('messages');
            var messageElement = document.createElement('p');
            messageElement.appendChild(document.createTextNode(message));
            messages.appendChild(messageElement);
            document.getElementById('typingIndicatorDTO').style.display = 'none';
        }

        //카테고리를 선택한 후
        function selectCategory(category) {
            console.log("선택한 category" + category)
            chatRoomTitle = category;
            showMessage('문의사항을 남겨주시면 신속히 답변해드리겠습니다.');

            // 카테고리 버튼들을 숨기는 코드
            document.getElementById('categoryButtons').style.display = 'none';

            //카테고리 별 수신자 이메일 설정
            switch (category) {
                case '예매':
                    recipient = '1@admin.com';
                    break;
                case '판매':
                    recipient = '2@admin.com';
                    break;
                case '이벤트':
                    recipient = '3@admin.com';
                    break;
                case '기타':
                    recipient = '4@admin.com';
                    break;
                default:
                    recipient = 'admin@admin.com';
            }
            console.log("선택한 category의 아이디 " + recipient)
            if (recipient) {
                connect();
            }

            createChatRoomAndConnect(recipient,category);
        }
        function createChatRoomAndConnect(recipient, category) {
            console.log("userEmail" + userEmail);
            // 채팅방 생성 및 연결 요청
            fetch('/chat/createChatRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ adminEmail: recipient, userEmail: userEmail, chatRoomTitle: category })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json(); // 서버 응답을 JSON 형식으로 파싱
                })
                .then(data => {
                     chatRoomId = data.chatRoomId; // 서버 응답에서 채팅방 ID 추출
                    console.log("Created chat room ID:", chatRoomId);
                    // 채팅방 생성 후 연결
                    connect();
                })
                .catch(error => console.error('Error creating chat room:', error));
        }

        // 타이핑 인디케이터를 보여주는 함수
        function showTypingIndicator() {
            document.getElementById('typingIndicatorDTO').style.display = 'block';

        }

        // 타이핑 인디케이터를 숨기는 함수
        function hideTypingIndicator() {
            document.getElementById('typingIndicatorDTO').style.display = 'none';
        }

        window.onload = async function () {

            recipient = await fetchRecipientEmail();
            console.log("로드된 recipient" + recipient)
            console.log("로드시 로그인된 이메일" + userEmail)
            fetchMessages(recipient);
            if (recipient) {
                connect(); // recipient가 있는 경우에만 커넥션 설정
            }
        };

        async function fetchRecipientEmail() {
            try {
                const response = await fetch('/chat/getRecipientEmail');
                console.log("받는 이메일", response); // Response 객체를 그대로 로깅하지 않음
                const data = await response.json(); // JSON 형식으로 응답을 파싱
                console.log("받는 이메일 data", data); // 파싱된 JSON 데이터 로깅
                return Array.isArray(data) ? data[0] : data || '이메일을 찾을 수 없습니다.';
            } catch (error) {
                console.error('오류:', error);
                return '오류 발생';
            }
        }

        function fetchMessages(recipient) {
            console.log("fetchMessages의 recipient" + recipient)
            fetch(`/chat/active/${recipient}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    console.log("response :" + response);
                    return response.text();
                })
                .then(text => {
                    try {
                        const data = JSON.parse(text);
                        console.log('Data:', data);
                        let messageExist = false;
                        // 각 메시지 객체를 순회합니다.
                        data.forEach(item => {
                            // 여기서 'messages' 필드가 실제 메시지 배열을 가지고 있음
                            if (Array.isArray(item.messages) && item.messages.length > 0) {
                                messageExist = true; // 메시지가 존재함을 표시
                                item.messages.forEach(message => {
                                    chatRoomId = message.id;
                                    recipient = message.sender;
                                    chatRoomTitle = message.chatRoomTitle;
                                    document.getElementById('categoryButtons').style.display = 'none';
                                    let displayMessage = message.sender === userEmail ? `나 : ${message.content}` : `관리자 : ${message.content}`;
                                    showMessage(displayMessage);
                                });
                            }
                        });
                        // 메시지가 없을 경우에만 카테고리 메시지를 표시합니다.
                        if (!messageExist ) {
                            showMessage('안녕하세요 고객님 카테고리를 선택해주세요');
                        }else if(chatRoomTitle === '상담이 완료되었습니다.'){
                            document.getElementById('categoryButtons').style.display = 'block';
                        }
                    } catch (error) {
                        console.error('Error parsing JSON:', error);
                        console.error('Received text:', text);
                    }
                })
                .catch(error => console.error('Error fetching messages:', error));
        }
    </script>
</head>
<body>

<div id="messages"></div> <!-- 메시지를 보여주는 부분을 버튼 위로 이동 -->
<div id="categoryButtons">
    <!-- 카테고리 선택 버튼 -->
    <button onclick="selectCategory('예매')">예매</button>
    <button onclick="selectCategory('판매')">판매</button>
    <button onclick="selectCategory('이벤트')">이벤트</button>
    <button onclick="selectCategory('기타')">기타</button>
</div>
<div>
    <input type="text" id="message" placeholder="Type a message..."/>
    <button onclick="sendMessage()">Send</button>
    <div id="typingIndicatorDTO" style="display: none;">상대방이 채팅 중입니다.</div> <!-- 타이핑 인디케이터 표시 부분 추가 -->
</div>

</body>
</html>