<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >

<th:block layout:fragment="content">
    <div class="p-3">
        <h1>메인 페이지</h1>
    </div>

    <div>
        <div><h2>목록</h2></div>
        <ul>
            <li><button type="button" style="width: 20%; left: 0;" ><span>영화</span></button></li>
            <li><button type="button" style="width: 20%; left: 20%;" ><span>예매</span></button></li>
            <li><button type="button" style="width: 20%; left: 40%;" ><span>어쩌구</span></button></li>
            <li><button type="button" style="width: 20%; left: 60%;" ><span>저쩌구</span></button></li>
            <li><button type="button" style="width: 20%; left: 60%;" onclick="location.href='/cs/faq';"><span>고객센터</span></button></li>
        </ul>
    </div>

</th:block>
</html>