<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CinemaCast</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<style>
    a#movie_title:hover ~ hr {
        visibility: hidden; /* <hr> 태그 숨기기 */
    }
    .custom-modal-xl {
        max-width: 90%; /* 또는 원하는 크기 */
        z-index: 99999999;
    }
    .modal-backdrop.show {
        opacity: 0.85 !important; /* 투명도 조절 */
    }
    .custom-modal-border {
        border: 2px solid #000; /* 테두리 두께와 색상 */
    }
    a:hover {
        color: inherit;
    }

</style>
</head>

<body class="homepage is-preload">
<th:block layout:fragment="content">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">
        <div class="overlay"></div>
        <h1 class="logo" style="font-size: 2em;">CINEMACAST</h1>
        <!-- Inner -->
        <div class="inner">
            <header>

                <h1><a id="movie_title">Movie Title</a></h1>
                <hr />
                <p>Another fine freebie by HTML5 UP</p>
            </header>
            <footer>
                <a href="#banner" class="button circled scrolly">예매</a>

<!--                <a class="button circled scrolly" id="videoButton">비디오</a>-->

            </footer>
        </div>

        <!-- info -->
        <div id="info" th:data-username="${#authentication.name}">
            <ul>
                <li sec:authorize="isAnonymous()">
                    <a href="/member/new">회원가입</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a href="/member/login">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/member/logout" id="logoutLink">로그아웃</a>
                </li>
                <li sec:authorize="hasRole('USER')">
                    <a th:href="@{/mypage/}" th:text="'마이페이지'"></a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/adminMain}" th:text="'관리자페이지'"></a>
                </li>
                <li><a href="/payment/cartList">장바구니</a></li>
            </ul>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">영화</a>
                    <ul>
                        <li><a href="movie_list_full.html">영화 전체보기</a></li>
                        <li><a href="movie_list_now.html">현재 상영작</a></li>
                        <li><a href="movie_list_comming.html">상영 예정작</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">예매</a>
                    <ul>
                        <li><a href="#">예매</a></li>
                        <li><a th:href="@{/reservation/screeningSchedule}">상영 시간표</a></li>
                    </ul>
                </li>
                <li><a href="/snack/snackList">스낵 스토어</a></li>
                <li><a href="/event/eventList">이벤트</a></li>
                <li><a href="/cs/notice">공지사항</a></li>
            </ul>
        </nav>

        <div id="img_btn">
            <button class="btn clicked" onclick="changeBackgroundAndTitle(0)">01</button>
            <button class="btn" onclick="changeBackgroundAndTitle(1)">02</button>
            <button class="btn" onclick="changeBackgroundAndTitle(2)">03</button>
            <button class="btn" onclick="changeBackgroundAndTitle(3)">04</button>
            <button class="btn" onclick="changeBackgroundAndTitle(4)">05</button>
        </div>

    </div>

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>Hi. You're looking at <strong>Helios</strong>.</h2>
            <p>
                A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.
                Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license.
            </p>
        </header>
    </section>

    <!-- Weekly Hot Movies -->
    <section class="carousel">
        <div class="section_title">
            <h2>Weekly Hot Movies</h2>
            <p><a href="/nowMovies">더보기</a></p>
        </div>
        <div class="reel">
            <article th:each="movie, iterStat : ${allMovies}"
                     th:if="${iterStat.index < 9}" >
                <a th:href="@{'/movies/' + ${movie.id}}" class="image featured">
                    <img th:src="@{'https://image.tmdb.org/t/p/w780' + ${movie.posterPath}}" alt="배경 사진" width="150" height="400" />
                </a>
                <img th:src="${'/images/'.concat(iterStat.index + 1).concat('.png')}" alt="one" class="overlay-img" />
                <header>
                    <h3>
                        <a th:href="@{'/movies/' + ${movie.id}}">
                            <span th:utext="${#strings.length(movie.title) &gt; 10 ? #strings.substring(movie.title, 0, 10) + '...' : movie.title}">...</span>
                        </a>
                    </h3>
                    <p><img src="/images/clock.png" alt="clock"/> <span th:text="${movie.runtime}">runtime</span></p>
                </header>
                <div class="button_box">
                    <button class="reservation_btn">예매하기</button>
                    <button class="get_btn"><a href="#" class="movie-detail-link">상세보기</a></button>
                </div>
            </article>
        </div>
    </section>


    <!-- Comming Soon -->
    <section class="carousel">
        <div class="section_title">
            <h2>Comming Soon</h2>
            <p><a href="/comingMovies">more</a></p>
        </div>
        <div class="reel">
            <article th:each="movie, iterStat : ${upcomingMovies}" th:if="${iterStat.index < 9}">
<!--                <form name="detailForm" th:action="@{'/upcoming/' + ${movie.id}}" method="post">-->
<!--                    <input type="hidden" th:name="movieId" th:value="${movie.id}"/>-->
<!--                    <input type="hidden" th:name="title" th:value="${movie.title}"/>-->
<!--                    <input type="hidden" th:name="releaseDate" th:value="${movie.releaseDate}"/>-->
<!--                    <input type="hidden" th:name="posterPath" th:value="${movie.posterPath}"/>-->
<!--                    <input type="hidden" th:name="genres" th:value="${movie.genres}"/>-->
<!--                    <input type="hidden" th:name="overview" th:value="${movie.overview}"/>-->
                <a th:href="@{'/upcoming/' + ${movie.id}}"  class="image featured">
                    <img th:src="@{'https://image.tmdb.org/t/p/w780' + ${movie.posterPath}}" alt="배경 사진" width="150" height="400" />
                </a>
                 <header>
                     <h3>
                         <a th:href="@{'/upcoming/' + ${movie.id}}" >
                             <span th:utext="${#strings.length(movie.title) &gt; 20 ? #strings.substring(movie.title, 0, 20) + '...' : movie.title}">...</span>
                         </a>
                     </h3>
                    <p><img src="/images/calendar.png" alt="clock"/> <span th:text="${movie.releaseDate}">개봉날짜</span></p>
                </header>
                <div class="button_box">
                    <button class="reservation_btn">예매하기</button>
                    <button class="get_btn"><a th:href="@{'/movies/' + ${movie.id}}">상세보기</a></button>
                </div>
<!--                </form>-->
            </article>
        </div>
    </section>
    <!-- Features -->
    <div class="wrapper style1">

        <section id="features" class="container special">
            <header>
                <h2>스낵 스토어</h2>
                <p>달콤한 맛과 바삭한 식감이 어우러진 팝콘 한 컵, 영화의 재미를 더 높여줄 거예요.<br />
                    지금 바로 팝콘을 주문하고, 당신의 영화관 체험을 더욱 완벽하게 즐겨보세요!</p>
                <p class="more_btn"><a href="#">more</a></p>
            </header>
            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic07.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Gravida aliquam penatibus</a></h3>
                    </header>
                    <p>
                        8,000원
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic08.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                    </header>
                    <p>
                        4,000원
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic09.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Magna laoreet et aliquam</a></h3>
                    </header>
                    <p>
                        10,000원
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic07.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Gravida aliquam penatibus</a></h3>
                    </header>
                    <p>
                        8,000원
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic08.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                    </header>
                    <p>
                        4,000원
                    </p>
                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="#" class="image featured"><img src="/images/pic09.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#">Magna laoreet et aliquam</a></h3>
                    </header>
                    <p>
                        10,000원
                    </p>
                </article>
            </div>
        </section>
    </div>
</div>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl custom-modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="videoFrame" width="100%" height="900px" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Scripts -->

    <script th:inline="javascript">
        $(document).ready(function() {
            if ($.fn.modal) {
                console.log('Bootstrap modal is loaded');
            } else {
                console.log('Bootstrap modal is NOT loaded');
            }

            /*<![CDATA[*/
            const movies = /*[[${videoMovies}]]*/ [];
            const movieTitles = movies.map(movie => movie.title);
            const moviePosters = movies.map(movie => "https://image.tmdb.org/t/p/w1280" + movie.backdropPath);
            const movieVideos = movies.filter(movie => movie.video).map(movie => "https://www.youtube.com/embed/" + movie.video);
            /*]]>*/

            console.log(movieTitles);
            console.log(moviePosters);
            console.log(movieVideos);

            // var memberEmail = $('#info').data('username'); // 사용자 이름 가져오기
            // console.log(memberEmail)
            $('.movie-detail-link').on('click', function(event) {
                event.preventDefault(); // 기본 동작 방지

                var movieId = $(this).closest('article').data('movie-id'); // 영화 ID 가져오기
                // var url = '/movies/' + movieId + '?memberEmail=' + encodeURIComponent(memberEmail);
                var url = '/movies/' + movieId;
                window.location.href = url; // URL로 이동
            });

            //모달 close버튼시  영상 정지
            $('.close').on('click', function() {
                $('#videoModal').modal('hide');
                $('#videoFrame').attr('src', '');
            });

            //모달이 닫히면 영상중지
            $('#videoModal').on('hidden.bs.modal', function () {
                $('#videoFrame').attr('src', '');
            });

            // 버튼 클릭 이벤트 핸들러 추가
            $('.btn').on('click', function() {
                const index = $(this).index('.btn'); // 클릭된 버튼의 인덱스 계산
                changeBackgroundAndTitle(index);
            });

            function changeBackgroundAndTitle(index) {
                const header = document.getElementById('header');
                const movieTitle = document.getElementById('movie_title');
                const buttons = document.querySelectorAll('.btn');

                $('#movie_title').off('click').on('click', function () {
                    const videoUrl = movieVideos[index];
                    console.log("videoUrl" + videoUrl)
                    $('#videoFrame').attr('src', videoUrl);
                    $('#videoModal').modal('show');
                });

                header.style.backgroundImage = `url(${moviePosters[index]})`;
                movieTitle.textContent = movieTitles[index];

                // 버튼 스타일 업데이트
                buttons.forEach((button, idx) => {
                    if (idx === index) {
                        button.classList.add('clicked');
                    } else {
                        button.classList.remove('clicked');
                    }
                });
            }

            changeBackgroundAndTitle(0); // 초기 설정
        });

        // 로그아웃시 session storage값 삭제
        $("#logoutLink").click(function(event) {
            event.preventDefault();
            sessionStorage.removeItem("userInfo");

            window.location.href = "/member/logout";
        });

    </script>

<!--    <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;인기순 &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
    <!--<div th:each="movie, iterStat : ${movies}">-->
    <!--    <div th:if="${iterStat.index < 2}">-->
    <!--        <h2>영화 번호: <span th:text="${movie.id}">영화 번호</span></h2>-->
    <!--        <h3>영화 이름: <span th:text="${movie.title}">영화 이름</span></h3>-->
    <!--        <p>영화 설명: <span th:text="${movie.overview}">영화 설명</span></p>-->
    <!--        <p>영화 장르: <span th:text="${#strings.listJoin(movie.genres, ', ')}">영화 장르</span></p>-->
    <!--        <p>영화 평점: <span th:text="${movie.voteAverage}">영화 평점</span></p>-->
    <!--        <p>인기도: <span th:text="${movie.popularity}">인기도</span></p>-->
    <!--        &lt;!&ndash;        <div th:if="${movie.video}">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <p>영화 비디오:</p>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <iframe width="500" height="280" th:src="@{'https://www.youtube.com/embed/' + ${movie.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </div>&ndash;&gt;-->
    <!--        <p>영화 배경사진:</p>-->
    <!--        <img th:src="@{'https://image.tmdb.org/t/p/w200' + ${movie.backdropPath}}" alt="배경사진" />-->
    <!--        <p>영화 포스터:</p>-->
    <!--        <img th:src="@{'https://image.tmdb.org/t/p/w200' + ${movie.posterPath}}" alt="포스터" />-->
    <!--    </div>-->
    <!--</div>-->

</th:block>


</body>
</html>