<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_total}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body class="right-sidebar is-preload bg-black-wrapper">
<th:block layout:fragment="content">
    <div id="page-wrapper" class="bg-black-wrapper">

        <!-- 메인 -->
        <div class="wrapper style1 payment bg-black-wrapper">
            <div class="container">
                <article id="main" class="special">
                </article>
            </div>

        </div>
    </div>

    <!-- 스크립트 -->
    <script src="/assets/js/jquery.min.js"></script>

    <script>

    </script>

    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</th:block>
</body>
</html>